@model List<WebsiteQuanLyTours.Models.LoaiTour>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Index</h2>

<a href="/LoaiTours/ThemMoi">Thêm mới </a>
<form class="d-flex-row align-items-center flex-wrap" action="/LoaiTours/index">
    <label for="search" class="mx-2 my-1">Search</label>
    <input type="search" class="form-control w-auto" id="search" name="search" placeholder="Search" value="@ViewBag.search" />
    <button type="submit" class=" btn btn-primary mx-2 ">go</button>
</form>
<table class="table">
    <tr>
        <th>Mã loại tour</th>
        <th>Loại tour</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.MaLoaiTour</td>
            <td>@item.LoaiTours</td>
            <td><a href="/DiaDiemHotTrongNuoc/ChinhSua/@item.MaLoaiTour">Edit</a></td>
            <td><a href="/DiaDiemHotTrongNuoc/Xoa/@item.LoaiTours">Delete</a></td>
        </tr>
    }
</table>