@model WebsiteQuanLyTours.Models.LoaiTour

@{
    ViewBag.Title = "Xoa";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Xoa</h2>

<form action="/LoaiTours/Xoa/@Model.MaLoaiTour" method="post">
    <input type="hidden" name="MaLoaiTour" value="@Model.MaLoaiTour" />
    <table class="table">


        <tr>
            <th>Địa điểm hot nước ngoài</th>
            <td>@Model.LoaiTours</td>
        </tr>

    </table>
    <button type="submit" class="btn btn-danger">Delete</button>
    <a href="/DiaDiemHotTrongNuoc/Index" class="btn btn-dark">Cancel</a>
</form>