@model WebsiteQuanLyTours.Models.TourNuocNgoai

@{
    ViewBag.Title = "ThemMoi";
    
}

<h2>ThemMoi</h2>

<form action="/Admin/TourNuocNgoai/ThemMoi" method="post">
    <div class="row">
        <div class="col-md-6">
            @*
                
            <label for="TourNuocNgoai1">Địa điểm hot nước ngoài</label>
            <input type="text"
                   class="form-control"
                   id="TourNuocNgoai1"
                   name="TourNuocNgoai1"
                   placeholder="Tour nuoc ngoai" />
            *@
            @Html.TextBoxFor(row => row.MaTourNuocNgoai, new { @class = "form-control", placeholder = "Tour nuoc ngoai" })
            @Html.ValidationMessageFor(row => row.MaTourNuocNgoai)
        </div>

    </div>
    <div class="row">

        <button type="submit" class="btn btn-success">Tạo</button>
        <a href="/Admin/TourNuocNgoai/Index" class="btn btn-danger">Cancel</a>

    </div>
</form>