@model WebsiteQuanLyTours.Models.TourTheoChuDe

@{
    ViewBag.Title = "ChinhSua";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>ChinhSua</h2>

<form action="/TourTheoChuDe/ChinhSua/@Model.MaChuDe" method="post">
    <input type="hidden" name="MaChuDe" value="@Model.MaChuDe" />
    <div class="row">
        <div class="col-md-6">
            <label for="TourTheoChuDe1">Địa điểm hot nước ngoài</label>
            <input type="text"
                   class="form-control"
                   id="TourTheoChuDe1"
                   name="TourTheoChuDe1"
                   placeholder="Tour Theo Chu De"
                   value="@Model.TourTheoChuDe1" />
        </div>

    </div>
    <div class="row">

        <button type="submit" class="btn btn-success">Save</button>
        <a href="/TourTheoChuDe/Index" class="btn btn-danger">Cancel</a>

    </div>
</form>