@model List<websitequanlutours.Models.DiaDiemHotNuocNgoai>

@{
    ViewBag.Title = "Index";
  
}

<a href="/Admin/DiaDiemHotNuocNgoai/ThemMoi">Thêm mới </a>
<form class="d-flex-row align-items-center flex-wrap" action="/Admin/DiaDiemHotNuocNgoai/index">
    <label for="search" class="mx-2 my-1">Search</label>
    <input type="search" class="form-control w-auto" id="search" name="search" placeholder="Search" value="@ViewBag.search" />
    <button type="submit" class=" btn btn-primary mx-2 ">go</button>
</form>
<table class="table">
    <tr>
        <th>Mã địa điểm hot nước ngoài</th>
        <th>Địa điểm hot nước ngoài</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.MaDiaDiemHotNuocNgoai</td>
            <td>@item.DiaDiemHotNuocNgoai1</td>
            <td><a href="/Admin/DiaDiemHotNuocNgoai/ChinhSua/@item.MaDiaDiemHotNuocNgoai">Edit</a></td>
            <td><a href="/Admin/DiaDiemHotNuocNgoai/Xoa/@item.MaDiaDiemHotNuocNgoai">Delete</a></td>
        </tr>
    }
</table>

