@model WebsiteQuanLyTours.Models.TourNuocNgoai

@{
    ViewBag.Title = "ChinhSua";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>ChinhSua</h2>

<form action="/TourNuocNgoai/ChinhSua/@Model.MaTourNuocNgoai" method="post">
    <input type="hidden" name="MaTourNuocNgoai" value="@Model.MaTourNuocNgoai" />
    <div class="row">
        <div class="col-md-6">
            <label for="TourNuocNgoai1">Địa điểm hot nước ngoài</label>
            <input type="text"
                   class="form-control"
                   id="TourNuocNgoai1"
                   name="TourNuocNgoai1"
                   placeholder="Tour Nuoc Ngoai1"
                   value="@Model.TourNuocNgoai1" />
        </div>

    </div>
    <div class="row">

        <button type="submit" class="btn btn-success">Save</button>
        <a href="/TourNuocNgoai/Index" class="btn btn-danger">Cancel</a>

    </div>
</form>