@model WebsiteQuanLyTours.Models.TourNuocNgoai

@{
    ViewBag.Title = "Xoa";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Xoa</h2>

<form action="/TourNuocNgoai/Xoa/@Model.MaTourNuocNgoai" method="post">
    <input type="hidden" name="MaTourNuocNgoai" value="@Model.MaTourNuocNgoai" />
    <table class="table">


        <tr>
            <th>Địa điểm hot nước ngoài</th>
            <td>@Model.TourNuocNgoai1</td>
        </tr>

    </table>
    <button type="submit" class="btn btn-danger">Delete</button>
    <a href="/TourNuocNgoai/Index" class="btn btn-dark">Cancel</a>
</form>