body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.tour-image {
    height: auto;
    width: 100%;
}

.tour-price {
    height: 350px;
    width: 100%;
    margin-left: 2em;
    position: relative;
}

.tour-details {
    height: auto;
    width: 100%;
}

#text-important {
    color: lightblue;
}

#date-go {
    margin-left: 2px;
    margin-right: 2px;
}

#date-group {
    text-align: center;
}

#date-item {
    border: 1px solid black;
    text-align: center;
    margin: 2px;
}

    #date-item:focus {
        border: 2px solid blue;
        width: 80%;
        height: 80%;
        text-align: center;
        justify-content: center;
    }

#price-children {
    display: none;
}

#quantityform {
    text-align: center;
    padding: 5px;
    margin: 2%;
}

.qty {
    width: 40px;
    height: 25px;
    text-align: center;
}

input.qtyplus {
    width: 25px;
    height: 25px;
}

input.qtyminus {
    width: 25px;
    height: 25px;
}

#detail-title {
    color: blue;
    font-weight: bold;
    font-size: 20px;
}

#detail-info {
    margin: 10px;
    font-size: 15px;
}

#detail-img {
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 5px;
}
