body {
}
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
}

.container {
    text-align: center;
    margin-top: 10px;
}

.col-lg-4 > img {
    width: 140px;
    height: 140px;
    border-radius: 70px;
}

.btn-secondary {
    background-color: blue;
}
