@model WebsiteQuanLyTours.Models.DiaDiemHotTrongNuoc

@{
    ViewBag.Title = "ChinhSua";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>ChinhSua</h2>
<form action="/DiaDiemHotTrongNuoc/ChinhSua/@Model.MaDiaDiemHotTrongNuoc" method="post">
<input type="hidden" name="DiaDiemHotTrongNuoc" value="@Model.MaDiaDiemHotTrongNuoc" />
<div class="row">
    <div class="col-md-6">
        <label for="DiaDiemHotTrongNuoc1">Địa điểm hot nước ngoài</label>
        <input type="text"
               class="form-control"
               id="DiaDiemHotTrongNuoc1"
               name="DiaDiemHotTrongNuoc1"
               placeholder="Dia Diem Hot Trong Nuoc"
               value="@Model.DiaDiemHotTrongNuoc1" />
    </div>

</div>
<div class="row">

    <button type="submit" class="btn btn-success">Save</button>
    <a href="/DiaDiemHotTrongNuoc/Index" class="btn btn-danger">Cancel</a>

</div>
</form>
