@model WebsiteQuanLyTours.Models.TourTheoChuDe

@{
    ViewBag.Title = "Xoa";
   
}

<h2>Xoa</h2>

<form action="/Admin/TourTheoChuDe/Xoa/@Model.MaChuDe" method="post">
    <input type="hidden" name="MaChuDe" value="@Model.MaChuDe" />
    <table class="table">


        <tr>
            <th>Địa điểm hot nước ngoài</th>
            <td>@Model.TourTheoChuDe1</td>
        </tr>

    </table>
    <button type="submit" class="btn btn-danger">Delete</button>
    <a href="/Admin/TourTheoChuDe/Index" class="btn btn-dark">Cancel</a>
</form>