
@{
    ViewBag.Title = "View";
    @*
        
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    *@
}



@section SideBarQuanLyTours
{
    <a href="#" class="list-group-item text-white" style="color:transparent">aaa </a>
    <a href="#" class="list-group-item text-white" style="color:transparent">Agent home </a>
    <a href="#" class="list-group-item text-white" style="color:transparent">Customer home</a>
}