@model WebsiteQuanLyTours.Models.TourTrongNuoc

@{
    ViewBag.Title = "ThemMoi";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>ThemMoi</h2>

<form action="/TourTrongNuoc/ThemMoi" method="post">
    <div class="row">
        <div class="col-md-6">
            @*
                
            <label for="TourTrongNuoc1">Địa điểm hot nước ngoài</label>
            <input type="text"
                   class="form-control"
                   id="TourTrongNuoc1"
                   name="TourTrongNuoc1"
                   placeholder="Tour Trong Nuoc" />
            *@
            @Html.TextBoxFor(row => row.MaTourTrongNuoc, new { @class = "form-control", placeholder = "Tour trong nuoc" })
            @Html.ValidationMessageFor(row => row.MaTourTrongNuoc)
        </div>

    </div>
    <div class="row">

        <button type="submit" class="btn btn-success">Tạo</button>
        <a href="/TourTrongNuoc/Index" class="btn btn-danger">Cancel</a>

    </div>
</form> 