
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

    <!-- Link CSS -->
<link rel="stylesheet" href="~/Content/CSS/CustomerHome.css"/>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="super-container">

    <!-- Group Tour -->
    <div class="tour-group">

        <!-- Tour Item -->
        <a href="#" class="d-flex" id="tour-item">

            <!-- Tour Image -->
            <div class="container col-2" id="tour-item-img">
                <img />
            </div>

            <div class="list-group col-10" id="tour-item-info">

                <div class="list-group-item" id="tour-item-title">
                    <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
                </div>

                <div class="list-group-item" id="tour-item-price">
                    <p class="text-bg-secondary">10000000</p>
                </div>

                <div class="list-group-item" id="tour-item-day">
                    <p>10/12/2023</p>
                </div>

                <div class="list-group-item" id="tour-item-rating">
                    <p>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </p>
                </div>

                <div class="list-group-item" id="tour-item-description">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                    </p>
                </div>
            </div>
        </a>
    </div>
</div>
