
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet"
    <meta charset="utf-8"
    <meta name="viewport" content="width=device-width" />
    <title>InvalidLogin</title>
</head>
<body>
    <div>
        <ul>
            <li>
                <a href="/home/index">Trang chủ</a>
            </li>
            <li>
                <a href="/home/tours">Tours</a>
            </li>
            <li>
                <a href="/home/lienhe">Liên hệ</a>
            </li>
        </ul>
        <h1>Invalid login</h1>
    </div>
</body>
</html>
