@model WebsiteQuanLyTours.Models.DiaDiemHotNuocNgoai

@{
    ViewBag.Title = "ChinhSua";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>ChinhSua</h2>

<form action="/DiaDiemHotNuocNgoai/ChinhSua/@Model.MaDiaDiemHotNuocNgoai" method="post">
    <input type="hidden" name="MaDiaDiemHotNuocNgoai" value="@Model.MaDiaDiemHotNuocNgoai" />
    <div class="row">
        <div class="col-md-6">
            <label for="DiaDiemHotNuocNgoai1">Địa điểm hot nước ngoài</label>
            <input type="text"
                   class="form-control"
                   id="DiaDiemHotNuocNgoai1"
                   name="DiaDiemHotNuocNgoai1"
                   placeholder="Dia Diem Hot Nuoc Ngoai1"
                   value="@Model.DiaDiemHotNuocNgoai1"/>
        </div>

    </div>
    <div class="row">

        <button type="submit" class="btn btn-success">Save</button>
        <a href="/DiaDiemHotNuocNgoai/Index" class="btn btn-danger">Cancel</a>

    </div>
</form>