@model List<WebsiteQuanLyTours.Models.TourTrongNuoc>

@{
    ViewBag.Title = "Index";
 
}

<h2>Index</h2>

<a href="/Admin/TourTrongNuoc/ThemMoi">Thêm mới </a>
<form class="d-flex-row align-items-center flex-wrap" action="/Admin/TourTrongNuoc/index">
    <label for="search" class="mx-2 my-1">Search</label>
    <input type="search" class="form-control w-auto" id="search" name="search" placeholder="Search" value="@ViewBag.search" />
    <button type="submit" class=" btn btn-primary mx-2 ">go</button>
</form>
<table class="table">
    <tr>
        <th>Mã tour trong nước</th>
        <th>Tour trong nước</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.MaTourTrongNuoc</td>
            <td>@item.TourTrongNuoc1</td>
            <td><a href="/Admin/TourNuocNgoai/ChinhSua/@item.MaTourTrongNuoc">Edit</a></td>
            <td><a href="/Admin/TourNuocNgoai/Xoa/@item.MaTourTrongNuoc">Delete</a></td>
        </tr>
    }
</table>