
@{
    ViewBag.Title = "ChinhSachRiengTu";
    Layout = "~/Views/Shared/NguoiDungLayout_2.cshtml";
}

<div class="right-col-wrap">
    <h3><strong>Chính sách bảo mật thông tin cá nhân</strong></h3>
    <h3>&nbsp;</h3>
    <p>Tại iVIVU.com chúng tôi cam kết tuân thủ việc bảo vệ quyền riêng tư và bảo mật thông tin cá nhân (gọi tắt là PII) mà bạn cung cấp.Thông tin cá nhân có thể là tên, địa chỉ, điện thoại hoặc điạ chỉ email.<br><br>Chính sách riêng tư này giải thích về cách thức chúng tôi xử lý và bảo vệ thông tin cá nhân theo qui định được chấp nhận bởi hiệp hội bảo vệ chính sách cá nhân. Những chính sách này được điều chỉnh vào ngày 18 tháng 3 năm 2011.<br><br>Chúng tôi cam kết bảo mật thông tin cho dù có thay đổi hay sửa đổi chính sách này bất luận thời gian và lý do. Bất kỳ sự thay đổi về chính sách bảo vệ thông tin cá nhân sẽ được thông báo sớm trước khi thực thi. Mọi ý kiến thắc mắc xin gửi qua địa chỉ email <a href="mailto:info@ivivu.com">info@ivivu.com</a> hoặc gửi đến:</p>
    <p><strong>- Văn phòng tại Tp. Hồ Chí Minh:</strong>&nbsp;Lầu 7, Tòa nhà Anh Đăng, 215 Nam Kỳ Khởi Nghĩa, Phường 7, Quận 3, Tp. Hồ Chí Minh, Việt Nam</p>
    <p><strong>- Văn phòng tại Hà Nội:</strong>&nbsp; Tầng 1, 70-72 Bà Triệu, Quận Hoàn Kiếm, Hà Nội, Việt Nam</p>
    <p><strong>- Văn phòng tại Cần Thơ</strong>: 166B Trần Hưng Đạo, P. An Nghiệp, Quận Ninh Kiều, Tp Cần Thơ, Việt Nam</p>
    <p><a style="line-height: 1.3em;" href="#Chúng tôi lưu trữ thông tin gì?"><strong>Chúng tôi lưu trữ thông tin gì?</strong></a></p>
    <p style="padding-left: 30px;">Mọi nỗ lực giữ vững dịch vụ không đơn thuần là chúng tôi chỉ tạo hoặc lưu trữ thông tin khách hàng.Chúng tôi chỉ lưu lại PII và những thông khác cần để trao đổi thông tin với bạn.</p>
    <p><a href="#Chúng tôi sử dụng thông tin của bạn như thế nào ?"><strong>Chúng tôi sử dụng thông tin của bạn như thế nào ?</strong></a></p>
    <p style="padding-left: 30px;">Chúng tôi chỉ sử dụng PII để trả lời và yêu cầu cho dịch vụ và sản phẩm của chúng tôi.</p>
    <p><a href="#Chúng tôi chia sẻ thông tin của bạn với ai?"><strong>Chúng tôi chia sẻ thông tin cuả bạn với ai ?</strong></a></p>
    <p style="padding-left: 30px;">Chúng tôi không tiết lộ thông tin đặt phòng cho bất kỳ ai.</p>
    <p><a href="#Bạn điều chỉnh và truy cập thông tin của bạn như thế nào?"><strong>Bạn điều chỉnh và truy cập thông tin của bạn như thế nào?</strong></a></p>
    <p style="padding-left: 30px;">Chúng tôi hi vọng những khách ghé thăm website và có thay đổi thông tin lưu trữ và sử dụng PII.</p>
    <p><a href="#Chúng tôi bảo vệ thông tin của bạn như thế nào?"><strong>Chúng tôi bảo vệ thông tin cá nhân bạn như thế nào ?</strong></a></p>
    <p style="padding-left: 30px;">Để đảm bảo độ tin cậy PII , chúng tôi đã sử dụng những kỹ thuật bảo mật cùng thao tác kiểm tra và cập nhật thường xuyên.</p>
    <p><span style="color: #2c73b1;"><strong><a name="Chúng tôi lưu trữ thông tin gì?"></a>Chúng tôi lưu trữ thông tin gì?</strong></span></p>
    <p>Với nỗ lực duy trì dịch vụ của chúng tôi đơn giản tối đa, chúng tôi không tạo, sử dụng hoặc lưu trữ thông tin của khách hàng ngoài mục đích gửi các thông tin hấp dẫn (xem chi tiết dưới đây). Chúng tôi chỉ sử dụng PII trả lời và yêu cầu cho dịch vụ và sản phẩm của chúng tôi. Trên trang iVIVU.com lưu trữ PII. Chúng tôi mô tả cụ thể thông tin yêu cầu gửi tới bạn của những dịch vụ hay sản phẩm bạn yêu cầu.<br><br>Chúng tôi lưu PII khi :</p>
    <ul>
        <li><em>Đặt phòng:</em></li>
    </ul>
    <p style="padding-left: 30px;">Chúng tôi lưu họ tên , địa chỉ email và số điện thoại mỗi lần bạn đặt phòng tại iVIVU.com đồng thời thu thập thông tin thẻ tín dụng , loại thẻ , số bảo mật , tên chủ thẻ , hạn sử dụng thẻ để thanh toán khoản phí thuê phòng trên trang iVIVU.com</p>
    <p style="padding-left: 30px;">&nbsp;</p>
    <ul>
        <li><em>Chọn “ Ghi nhớ những thông tin trong thời gian tới” ở trang đặt phòng</em></li>
    </ul>
    <p style="padding-left: 30px;">Chúng tôi lưu lại họ tên , địa chỉ email ,số điện thoại , loại thẻ tín dụng , tên chủ thẻ khi bạn chọn “Ghi nhớ những thông tin trong thời gian tới ” khi đặt phòng.</p>
    <p style="padding-left: 30px;">&nbsp;</p>
    <ul>
        <li><em>“shortlist“ khách sạn yêu thích</em></li>
    </ul>
    <p style="padding-left: 30px;">Chúng tôi sử dụng cookie để thêm thuộc tính về khách sạn vào “Shortlist” do đó bạn có thể truy xuất dễ dàng thời gian tới .Thuộc tính được thêm vào shortlist bằng 2 cách: cách thứ nhất là bạn chọn thêm trực tiếp từ trong trang web hoặc cách thứ hai là hoàn tất đặt phòng và click “Chấp nhận”</p>
    <p style="padding-left: 30px;">&nbsp;</p>
    <ul>
        <li><em>Đăng ký nhận tin tức của chúng tôi</em></li>
    </ul>
    <p style="padding-left: 30px;">iVIVU.com lưu địa chỉ email, tên, nơi cư ngụ và phương thức liên lạc ưa thích từ mọi người đăng ký cho newsletter để phục vụ tốt hơn.</p>
    <p style="padding-left: 30px;">&nbsp;</p>
    <ul>
        <li><em>Thông tin khảo sát , tin khuyến mãi và dự thi.</em></li>
    </ul>
    <p style="padding-left: 30px;">Định kỳ, Chúng tôi có thể gửi đến những khách viếng thăm hoặc những người nhận newsletter cơ hội tham gia cuộc khảo sát đề cử, khuyến mại hoặc dự thi. PII chúng tôi lưu khi bạn tham gia cuộc khảo sát là họ tên, địa chỉ, số điện thoại.</p>
    <p style="padding-left: 30px;">&nbsp;</p>
    <ul>
        <li><em>Liên hệ iVIVU.com</em></li>
    </ul>
    <p style="padding-left: 30px;">Chúng tôi lưu PII như họ tên, địa chỉ email và số điện thoại khi bạn click submit gửi thông tin hoặc đề nghị , phản hồi và yêu cầu đặt phòng</p>
    <p>&nbsp;</p>
    <p>Những thông tin khác mà chúng tôi sẽ lưu</p>
    <ul>
        <li><em>Thông tin thống kê</em></li>
    </ul>
    <p style="padding-left: 30px;">Khi bạn ghé website chúng tôi sẽ ghi nhận lại thông tin lần ghé và mục địch yêu cầu của bạn , nó không bao gồm PII</p>
    <p style="padding-left: 30px;">&nbsp;</p>
    <ul>
        <li><em>Cookies</em></li>
    </ul>
    <p style="padding-left: 30px;">Chúng tôi tùy vào mỗi thời gian mà sử dụng “cookie” lưu trữ thông tin yêu thích và thông tin chủ chốt mỗi lần bạn ghé thăm và truy cập trang web của chúng tôi, lưu trữ thông tin trang web được ghé thăm để chúng tôi cải thiện trang web của chúng tôi</p>
    <p style="padding-left: 30px;">Là phần thông tin mà được chuyển đến ỗ cứng máy của bạn để lưu trữ mục đích .Cookie làm duyệt web trở nên hiệu quả về việc lưu trữ thông tin yêu thích của bạn trên mỗi trang web .Sử dụng cookies là một tiêu chuẫn và có rất nhiều website sử dụng nó cũng cấp những đặc tính đến cho bạn</p>
    <p style="padding-left: 30px;">Bạn có thể xóa cookies bất cứ lúc nào (xem menu “help” trình duyệt của bạn để biết thêm thông tin ), tuy nhiên quá trình này cũng sẽ xoá tất cả cookies khác ngoài cookies của iVIVU.com. Bạn cũng có thể remove cookie cụ thể có kết nối tới một khách sạn trong shortlist bằng cách nhấp vào nút bỏ chọn khi khách sạn hiện ra trong shortlist.</p>
    <p><span style="color: #2c73b1;"><strong><a name="Chúng tôi sử dụng thông tin của bạn như thế nào ?"></a>Chúng tôi sử dụng thông tin của bạn như thế nào ?</strong></span></p>
    <p>Chúng tôi sử dụng PII với mục đích giải đáp những thắc mắc về dịch vụ và sản phẩm khi bạn đặt phòng. Thông tin thu thập trên iVIVU.com có thể là:</p>
    <p>&nbsp;</p>
    <ul>
        <li><em>Mua sản phẩm và dịch vụ iVIVU.com</em></li>
    </ul>
    <p style="padding-left: 30px;">Thông tin được lưu khi bạn khi bạn mua dịch vụ của chúng tôi để tính phí cho thẻ tín dụng và gửi xác nhận đặt phòng. Chúng tôi sẽ liên hệ với bạn về đặt phòng của bạn cùng với những lời chào có liên quan từ chúng tôi hoặc các đối tác của chúng tôi mà hấp dẫn bạn. Chúng tôi cũng có thể liên lạc với bạn cho mục đích khảo sát phục vụ khách hàng, hoặc mục đích đổi hoặc huỷ đơn đặt phòng của bạn.</p>
    <p style="padding-left: 30px;">&nbsp;</p>
    <ul>
        <li><em>Hiển thị thông tin chi tiết khi bạn đặt phòng lần tới với chúng tôi</em></li>
    </ul>
    <p style="padding-left: 30px;">Chúng tôi chỉ hiển thị chi tiết thông tin cá nhận của bạn khi bạn chọn “Ghi nhớ những thông tin cho lần tới” với mục đích giảm thiểu thông tin bạn điền vào khi đặt phòng .Những thông tin như họ tên, địa chỉ email, số điện thoại, loại thẻ tín dụng và tên có trên thẻ sẽ được lưu. Chúng tôi cũng sẽ thêm cáci khách sạn bạn đã đặt vào danh sách shortlist để truy cập dễ dàng hơn vào các lần sau</p>
    <p style="padding-left: 30px;">&nbsp;</p>
    <ul>
        <li><em>Gửi newsletter email</em></li>
    </ul>
    <p style="padding-left: 30px;">Chúng tôi chỉ gửi newsletter tới những người chấp nhận việc này. Newsletter của chúng tôi cung cấp các thông tin về các giảm giá hấp dẫn, và định kỳ cung cấp các phần thưởng nhỏ cho việc hoàn thành bài khảo sát hoặc tham dự thi hoặc các khuyến mãi. Chúng tôi sử dụng các thiết đặt cá nhân mà bạn cung cấpcho chúng tôi để tìm các thông tin phù hợp yệu cầu.</p>
    <p style="padding-left: 30px;">&nbsp;</p>
    <p>&nbsp; &nbsp; &nbsp; &nbsp;• <em>Kết nối Facebook</em></p>
    <p>Bạn có thể tham gia và đăng nhập qua tài khoản Facebook. Nếu bạn tham gia qua Facebook, Facebook sẽ đề nghị bạn cho phép tiết lộ một số dữ liệu trong tài khoản Facebook của bạn cho chúng tôi. Các dữ liệu này có thể bao gồm tên, họ và địa chỉ email của bạn để phục vụ cho việc xác thực danh tính và giới tính, cũng như địa điểm chung, liên kết tới hồ sơ Facebook, múi giờ, ngày sinh, ảnh hồ sơ.</p>
    <p>Dữ liệu này sẽ được Facebook thu thập và truyền cho chúng tôi. Bạn có thể kiểm soát những thông tin chúng tôi nhận từ Facebook thông qua các cài đặt bảo mật trong tài khoản Facebook.</p>
    <ul>
        <li><em>Giải đáp những thắc mắc và yêu cầu</em></li>
    </ul>
    <p style="padding-left: 30px;">Chúng tôi sẽ sử dụng địa chỉ email và /hoặc số điện thoại để liên hệ với bạn khi bạn gửi những câu hỏi hay đề xuất.<br><strong><br></strong></p>
    <p><span style="color: #2c73b1;"><strong><a name="Chúng tôi chia sẻ thông tin của bạn với ai?"></a>Chúng tôi chia sẻ thông tin của bạn với ai?</strong></span></p>
    <p>Chúng tôi không tiết lộ bất kỳ thông tin nào về đặt phòng của khách hàng cho bất cứ ai ngoại trừ những tình huống sau:</p>
    <p>&nbsp;</p>
    <ul>
        <li><em>Nhà cung cấp phòng</em></li>
    </ul>
    <p style="padding-left: 30px;">Chúng tôi cung cấp tên , địa chỉ ,số điện thoại của bạn và (những trường hợp ngoại lệ) email của bạn cho mỗi lần đặt phòng với nhà cung cấp phòng tương ứng .Nhà cung cấp phòng sẽ yêu cầu có những thông tin này khi đặt phòng và được sử dụng để liên hệ với bạn về đơn đặt phòng của bạn. Mặc dù, chúng tôi cung cấp bởi nhà cung cấp phòng uy tín, chúng tôi cũng không hạn chế nhất định được trong việc sử dụng hay tiết lộ thông tin cá nhân của bạ mà không có sự cho phép của bạn từ họ. Chúng tôi khuyến khích bạn nên xem xét chính sách bảo vệ quyền cá nhân của bất kỳ nhà cung cấp nào trên website.</p>
    <p style="padding-left: 30px;">&nbsp;</p>
    <ul>
        <li><em>Nhà cung cấp dịch vụ</em></li>
    </ul>
    <p style="padding-left: 30px;">Chúng tôi làm việc với nhà cung cấp cổng thanh toán trực tuyến và nhà cung cấp dịch vụ kiểm soát thẻ giả mạo để mang tới an toàn trong giao dịch bằng thẻ tín dụng trên iVIVU.com. Chúng tôi cung cấp thông tin thẻ (khi cần thiết) liên quan tới các đặt phòng để họ xử lý và theo dõi thanh toán dưới sự cấp phép của chúng tôi.</p>
    <p style="padding-left: 30px;">&nbsp;</p>
    <ul>
        <li><em>Những nghĩa vụ về luật pháp:</em></li>
    </ul>
    <p style="padding-left: 30px;">Chúng tôi sẽ phải tuân thục luật pháp khi phải tiết lộ thông tin mà bạn cung cấp cho chúng tôi với mục đích chứng minh các sản phẩm hay dịch vụ của iVIVU.com. Chúng tôi cũng có thể tiết lộ thông tin các cá nhân gây hại cho chúng tôi (ví dụ khách hàng giả mạo) hoặc sở hữu những hành vi đe doạ người khác.</p>
    <p><span style="color: #2c73b1;"><strong><a name="Bạn điều chỉnh và truy cập thông tin của bạn như thế nào?"></a>Bạn điều chỉnh và truy cập thông tin của bạn như thế nào?</strong></span></p>
    <p>Chúng tôi tin tưởng những khách ghé trang web và những khách hàng nên hiệu chỉnh và sử dụng PII của họ .Đây là cách mà bạn có thể kiểm soát và truy xuất vào thông tin của bạn:</p>
    <p>&nbsp;</p>
    <ul>
        <li><em>Nhận và huỷ Newsletter</em></li>
    </ul>
    <p style="padding-left: 30px;">Nếu tại 1 thời điểm nào đó bạn cần thay đổi địa chỉ email của bạn với chúng tôi, cập nhật lại tuỳ chọn trong thư newsletters hoặc huỷ việc nhận Newsletter của chúng tôi</p>
    <p style="padding-left: 30px;">1. Đi đến “ <a title="Đăng ký nhận thông tin khuyến mãi" href="/newsletters" target="_blank">Newsletters</a> ” trên trang web của chúng tôi từ trang chủ và vào theo các hướng dẫn để thay đổi địa chỉ email, cập nhật tuỳ chọn hoặc ngừng đăng ký;</p>
    <p style="padding-left: 30px;">&nbsp;</p>
    <ul>
        <li><em>Thông tin đặt phòng</em></li>
    </ul>
    <p style="padding-left: 30px;">Nếu bất kỳ thời gian nào bạn thay đổi thông tin cá nhân (PII) đã cung cấp khi đặt phòng, xin liên hệ với chúng tôi: 1900 1870.</p>
    <p style="padding-left: 30px;">&nbsp;</p>
    <ul>
        <li><em>Ghi nhớ những thông tin trong lần tới</em></li>
    </ul>
    <p style="padding-left: 30px;">Nếu bất kỳ thời gian nào bạn muốn ngừng việc “ghi nhớ thông tin trong lần tới”. Hãy chọn Gở bỏ “Ghi nhớ những thông tin trong thời gian tới trong lần đặt phòng" hoặc&nbsp;liên hệ&nbsp;với chúng tôi: 1900 1870.</p>
    <p style="padding-left: 30px;">&nbsp;</p>
    <p>&nbsp; &nbsp; &nbsp; • <em>Yêu cầu xóa tài khoản</em></p>
    <p>Quý khách hàng có thể yêu cầu xóa Dữ liệu cá nhân của quý khách hàng do chúng tôi thu thập và xử lý, bằng cách gửi cho chúng tôi một lý do hợp lý. Nếu quý khách hàng muốn xóa dữ liệu của mình, quý khách hàng nên thông báo cho chúng tôi theo thông tin liên hệ của chúng tôi được trình bày bên dưới.</p>
    <p>Theo yêu cầu của quý khách hàng, chúng tôi sẽ xóa Dữ liệu cá nhân của quý khách hàng trong hệ thống của chúng tôi trong vòng 24 tiếng. Chúng tôi sẽ ngừng thu thập, sử dụng hoặc tiết lộ Dữ liệu cá nhân của quý khách hàng, trừ khi pháp luật yêu cầu hoặc nếu chúng tôi có các mục đích kinh doanh hoặc pháp lý hợp pháp để giữ lại dữ liệu đó. Lưu ý rằng bằng việc yêu cầu xóa Dữ liệu cá nhân của quý khách hàng, chúng tôi không thể tiếp tục cung cấp cho quý khách hàng các dịch vụ của chúng tôi và quý khách hàng đồng ý rằng chúng tôi sẽ không chịu trách nhiệm với quý khách hàng về bất kỳ tổn thất hoặc thiệt hại nào phát sinh từ hoặc liên quan đến việc chấm dứt dịch vụ như vậy.<br>Quý khách cần xóa tài khoản xin vui lòng liên lạc với bộ phận Chăm sóc Khách hàng của chúng tôi như sau <br><strong>Email: tc@ivivu.com</strong><br><strong>Tiêu đề email: Xóa Tài Khoản</strong></p>
    <p>&nbsp;</p>
    <ul>
        <li><em>Thông tin chung</em></li>
    </ul>
    <p style="padding-left: 30px;">Nếu trong bất kỳ thời gian nào bạn có yêu cầu về bất cứ thông tin cá nhân nào của bạn, hãy&nbsp;liên hệ&nbsp;với chúng tôi: 1900 1870.<br><strong><a name="Chúng tôi bảo vệ thông tin của bạn như thế nào?"></a><br></strong></p>
    <p><span style="color: #2c73b1;"><strong>Chúng tôi bảo vệ thông tin của bạn như thế nào?</strong></span></p>
    <p>Để đảm bảo độ tin cậy PII , chúng tôi sử dụng những kỹ thuật bảo mật và quy trình chuẩn được xem xét và cập nhật thường xuyên.<br><br>Chúng tôi có được chữ ký số từ GoDaddy, là một trong những công ty hàng đầu cung cấp dịch vụ bảo vệ và quản lý truyền thông tin.<br><br>Hệ thống của chúng tôi được cấu hình với tiêu chuẩn mã hoá công nghiệp và công nghệ tường lửa. Khi bạn gửi PII cho chúng tôi trên internet, dữ liệu của bạn đã được bảo vệ bởi công nghệ SSL để bảo đảm an toàn trên đường truyền.</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <h3><strong>Privacy policy</strong></h3>
    <p><br> We respect and are committed to protecting your privacy. Please read the Privacy Policy below to better understand the commitments we make to respect and protect the interests of our visitors. This Privacy Policy explains how we receive, use and (in certain circumstances) disclose your personal information.&nbsp;</p>
    <p><br> The policy will also explain the steps we take to protect the privacy of our customers. Finally, the Privacy Policy will explain your choice of the collection, use and disclosure of your personal information. Protecting your personal data and building your trust is a very important issue for us. Therefore, we will use the name and other information relating to you in accordance with the content of the Privacy Policy.</p>
    <p><br> We only collect the necessary information related to the purchase transaction. We will keep the customer's information for the time required by law or for any purpose. You can access the Platform and the browser without having to provide personal details. At that time, you are anonymous and we cannot know who you are unless you sign in to your account.</p>
    <p><strong>1. Collect personal information</strong></p>
    <p>We will collect different information of you when you want to order on the web. We collect, store and process your information for the purchase process and for subsequent notices, and to provide the service. We do not limit personal information: title, name, gender, date of birth, email, address, telephone and fax numbers, payment details, payment details by card or bank account details. . We will use the information you have provided to process your order, provide the services and information requested through the Platform and upon your request. Furthermore, we will use that information to manage your account; Verify and conduct online transactions, audit the download of data from the web; Improve site layout and content and tailor it to users; Identify visitors to the web, research demographics, submit information including product and service information, if you have no signs of refusal. If you do not want to receive any of our marketing information you can refuse at any time. Online payments will be handled by our International Network agents. You only provide us or our Agent or Platform with accurate, non-confusing information and must notify us of any changes. Your order details are kept by us but for privacy reasons we do not publish directly. However, you can access information by logging into the account on the web. Here, you'll see your order details, received products and sent items, and email, bank and newsletter details that you set up for long-term follow-up. You are committed to the privacy of your personal data and are not permitted to disclose to third parties. We do not bear any responsibility for misuse of passwords if this is not our fault.</p>
    <p><strong>Facebook Connect</strong></p>
    <p>We offer you the option of enrolling and signing in through your Facebook account. If you enroll via Facebook, Facebook will ask you for your permission to release certain data in your Facebook account to us. This may include your first name, last name, and e-mail address so your identity and gender can be verified, as well as general location, a link to your Facebook profile, your time zone, your date of birth, your profile picture.</p>
    <p>This data will be collected by Facebook and transmitted to us. You can control the information that we receive from Facebook through the privacy settings in your Facebook account.</p>
    <p><strong>2. Other rules on personal information</strong></p>
    <p>&nbsp;We may use your personal information to market research, details will be hidden and only used for statistical purposes. You can refuse your participation at any time. Any answers to surveys or polls that we need you to do will not be passed on to third parties. The only necessity is to disclose your email if you want to participate. The answer will be kept separate from your email. 3. Assurance of Customer Interests: Customer interests are the primary objective in the operation of our Platform IVIVU.COM. In order to protect the interests of customers, Platform transaction management provides customers with basic and important information to know before joining the purchase and service on the Platform, ensuring customers to buy safely. . Customers should carefully review the information related to the products and services being traded on the transaction Platform: price, brand, specific support services, terms of use, address, delivery method Goods, payment method, bank account number and related information ... The Platform management board has requested traders to provide information such as business name, telephone number, Primary, business location, Yahoo! Account, Skype account so that members directly contact and make transactions to buy products and services to ensure the transaction is accurate and secure. Platform management requires individuals to register as a customer and must provide all relevant personal information such as: Full name, address, email, people's identity card number, Account number, payment card number, and be responsible for the legality of the above information. Platform management and VNTRIP OTA Limited Liability Company shall not be liable nor shall it settle any complaints related to such member's interests in the case of personal information of that member provided upon posting. The original sign is incorrect. E-commerce Platform management should provide consumers with important information to know before participating in payment transactions and services on the Platform, ensuring that consumers buy safely. E-commerce Platform management mechanism provides a mechanism / solution / solution to ensure transaction security. For e-commerce Platforms having the function of online payment, the Platform management board must clearly state the mechanism of payment security of customers, handle complaints and compensate for damage in case of payment information of customers via Platform. Alteration, deletion, destruction, copying, disclosure, unauthorized removal or misappropriation of goods causing harm to customers. The collection and use of each customer's information shall be made only with the consent of the customer, unless otherwise provided for by law. Customers have the right to self-check, update, adjust or cancel their personal information or request e-commerce site to do this.</p>
    <p><strong>3. Protect personal information of customers </strong><em>(The purpose and scope of collecting customer information)</em></p>
    <p>The Platform collects customer information for information management, for product code provision and post-purchase support, to respond to inquiries or to fulfill customer inquiries. Scope of the information collection: We collect personal information of customers when customers register their membership, and other information in the process of feedback on the quality of products and services, Shared customer stories. The scope of the use of information Customer information is only used in the management and business of the Platform, as well as for affiliates. We may also use the information we collect to inform customers of the products or services available on IVIVU.COM or its associated companies or to contact the customer for information. Customer perception of existing products and services or potential new products and services may be provided. Customer personal information may be shared with other companies, but only as needed to meet customer requirements or related purposes. To provide services / information sufficient to ensure online payment or payment at the center, to support customer care systems, customer management, care and feedback. From the customer.. Save data A. Time of information storage: The company has a server system capable of storing customer information for a minimum of 2 years and a maximum of 10 years. During the operation, the company can enhance its ability to store information if necessary. B. Address of collection and management unit of personal information: Unit collecting and managing information: Level 7, Anh Dang Building, 215 Nam Ky Khoi Nghia, ward 7, district 3, Ho Chi Minh City. C. Means and tools for users to access and edit their personal data: Users can access and edit their personal data through IVIVU.COM Platform. The user logs into the account that he has registered on IVIVU.COM, and can edit his personal information. Login can be done on a computer, phone, or other tools that access the Platform. Commit to the privacy of your personal information We only collect personal information in appropriate and necessary scope for our proper commercial purpose. And we maintain appropriate measures to ensure the safety, integrity, accuracy, and confidentiality of the information provided by the User. In addition, we take reasonable steps to ensure that third parties also use safeguards for the information that we provide to them. Personal information, the user's personal information is collected, stored and protected in a strict, accurate and confidential manner. The enterprise establishes software that collects and stores information separately and is implemented solely by the server system of the enterprise and the backup server system. The confidentiality of personal information and personal information of users is absolute and will not be presented to any third party unless requested by the competent State authority. Enterprise establishes a system to protect personal information of users in the following forms: Set up the firewall system to prevent the form of network attacks. Technical staff, employees of the company regularly monitor all activities of the Platform. Ensure all attacks from all sides are detected in time and taken preventive measures. Personal information, personal information of the user will be stored in accordance with the steps and strict confidentiality in accordance with the provisions of the law.</p>
    <p>&nbsp;<strong>4. Removal of Your Personal Data</strong></p>
    <p>To the extent permitted by applicable law, you may have the right to request us to remove your Personal Data that we hold from our systems. You may submit a deletion request to us at our contact details listed below.</p>
    <p>We will take action to erase your Personal Data in 24 hours, or will use reasonable efforts to remove the means or personal identifiers by which the Personal Data can be associated with you as an individual, if:</p>
    <p>1. The purpose for which Personal Data was collected is no longer being served by the retention of that Personal Data; <br>2. We are not otherwise permitted or required by applicable law to retain the Personal Data; and/or<br>3. In case it is mandated by applicable law, based on your request to delete your Personal Data.</p>
    <p>Please note that by requesting us to remove your Personal Data, we may not be able to continue providing you with some of our services and you agree that we will not be liable to you for any losses or damages arising out of or in relation to such termination of services.</p>
    <p>Please send the removal of your account request to<br><strong>Email: tc@ivivu.com</strong><br><strong>Email title: Xóa Tài Khoản</strong></p>
</div>

