
@{
    ViewBag.Title = "ChinhSachBaoMat";
    Layout = "~/Views/Shared/NguoiDungLayout_2.cshtml";
}

<div class="right-col-wrap">
    <h3><strong>Chúng tôi bảo mật thông tin thẻ tín dụng của bạn như thế nào?</strong></h3>
    <p>&nbsp;</p>
    <p>Chúng tôi cam kết bảo mật thông tin thẻ tín dụng của bạn.</p>
    <p>Khi bạn nhấn vào nút “Đặt Phòng” chúng tôi sẽ sử dụng kỹ thuật SSL (Secure Sockets Layer) dùng mã hoá kết nối thẻ của bạn với hệ thống thanh toán. Bạn sẽ được thông báo bằng biểu tượng khóa ở header hay footer của trình duyệt. Công Nghệ bảo mật SSL đảm bảo bất kỳ thông tin nào được cung cấp sẽ được mã hóa trước khi nó được gửi đi. Nó được biến đổi liên tục với 300,000,000,000,000,000,000,000,000 (300 ngàn triệu triệu số) sự kết hợp khác nhau. Dữ liệu đã mã hoá này sẽ không thể đọc được bởi bên thứ ba khi được truyền qua Internet.</p>
    <p>Chúng tôi không thực hiện truyền dữ liệu thẻ tín dụng qua Internet cho đến khi bạn thực hiện đặt phòng thành công, chúng tôi không chia sẻ thông tin cho bất kỳ ai, thậm chí những nơi mà bạn đã thực hiện đặt phòng.</p>
    <p>iVIVU.com đã được xác nhận bằng chữ ký số từ hội đồng xác nhận GoDaddy, là một trong những đơn vị&nbsp; đứng đầu công nghệ bảo mật và quản lý dữ liệu giao dịch.<br><strong>Đặt phòng qua điện thoại:</strong></p>
    <p>Lưu ý bạn có thể liên hệ với <strong>Trung Tâm Chăm Sóc Khách Hàng 1900 1870</strong>, nếu bạn cảm thấy thoải mái khi cung cấp thông tin thẻ tín dụng qua điện thoại.</p>
    <p>Để biết thêm chi tiết xin liên hệ chúng tôi nếu bạn muốn biết bất kỳ thông tin nào về việc bảo vệ thông tin cá nhân. Hoặc bạn có thể đọc thêm <a href="/chinh-sach-rieng-tu">chính sách riêng tư</a>.</p>
</div>

