
@{
    ViewBag.Title = "QuyCheHoatDong";
    Layout = "~/Views/Shared/NguoiDungLayout_2.cshtml";

    @*co _viewstart kh can khai bao layout nhu dong*@ 
}

<div class="right-col-wrap">
    <p style="text-align: center;">&nbsp;</p>
    <h3 style="text-align: center;">QUY CHẾ HOẠT ĐỘNG CỦA SÀN GIAO DỊCH THƯƠNG MẠI ĐIỆN TỬ IVIVU.COM</h3>
    <p style="text-align: center;">&nbsp;</p>
    <p style="text-align: justify;"><strong>Ivivu.com</strong>&nbsp;là Sàn giao dịch thương mại điện tử phục vụ thương nhân, tổ chức, các nhân có nhu cầu thực hiện đăng bán các dịch vụ đặt phòng khách sạn, tour du lịch, xe du lịch, bán vé máy bay.</p>
    <p style="text-align: justify;">Sứ mệnh mà Ivivu.com hướng tới là sẽ trở thành Sàn giao dịch thương mại điện tử &nbsp;tin cậy trong thị trường Thương mại điện tử và là cầu nối thương mại giữa nhà cung cấp dịch vụ về khách sạn và du lịch đến với thành viên.</p>
    <p style="text-align: justify;">&nbsp;</p>
    <p style="text-align: justify;"><strong>I.&nbsp; &nbsp;Nguyên tắc chung</strong></p>
    <p style="text-align: justify;">&nbsp;</p>
    <p style="text-align: justify;">Sàn &nbsp;giao dịch&nbsp; thương mại &nbsp;điện tử &nbsp;Ivivu.com &nbsp;do &nbsp;Công &nbsp;ty &nbsp;TNHH &nbsp;MTV IVIVU.COM (Công ty) thực hiện hoạt động và vận hành. Thành viên trên Sàn giao dịch thương mại điện tử Ivivu.com là các thương nhân, tổ chức, cá nhân có hoạt động thương mại hợp pháp trong lĩnh vực khách sạn, du lịch được Ivivu.com chính thức công nhận và được phép sử dụng dịch vụ do Sàn giao dịch thương mại điện tử Ivivu.com và các bên liên quan cung cấp.</p>
    <p style="text-align: justify;">&nbsp;</p>
    <p style="text-align: justify;"><strong>II. &nbsp;Quy định chung</strong></p>
    <p style="text-align: justify;">&nbsp;</p>
    <p style="text-align: justify;"><em><strong>1. &nbsp;Định nghĩa</strong></em></p>
    <p style="text-align: justify;">-&nbsp;&nbsp;&nbsp;&nbsp; Nhà cung cấp, đối tác (NCC): Là thương nhân, tổ chức, cá nhân cung cấp dịch vụ khách sạn và du lịch thông qua hình thức đăng bán tại website Ivivu.com.</p>
    <p style="text-align: justify;">-&nbsp;&nbsp; &nbsp;Thành viên (Khách hàng - KH): Là khách hàng có nhu cầu mua các dịch vụ của NCC và phải tiến hành lập tài khoản tại Ivivu.com.</p>
    <p style="text-align: justify;"><em><strong>2. &nbsp;Quy định chung</strong></em></p>
    <p style="text-align: justify;">-&nbsp;&nbsp;&nbsp;&nbsp; Thành viên tham gia giao dịch tại Sàn giao dịch thương mại điện tử Ivivu.com tự do lựa chọn những dịch vụ mà NCC đăng bán thông qua hình thức đặt phòng online, không trái với qui định của pháp luật.</p>
    <p style="text-align: justify;">-&nbsp;&nbsp; &nbsp;Dịch vụ khách sạn và du lịch được NCC cung cấp trên Sàn giao dịch thương mại điện tử Ivivu.com phải đáp ứng đầy đủ các quy định của pháp luật có liên quan, không thuộc các trường hợp cấm kinh doanh, cấm quảng cáo theo quy định của pháp luật.</p>
    <p style="text-align: justify;">-&nbsp;&nbsp; &nbsp;Hoạt động mua bán dịch vụ thông qua Sàn giao dịch thương mại điện tử Ivivu.com phải được thực hiện công khai, minh bạch, đảm bảo quyền lợi của Thành viên.</p>
    <p style="text-align: justify;">-&nbsp;&nbsp;&nbsp;&nbsp; Các thông tin mà khách hàng đăng ký là thành viên của Sàn giao dịch thương mại điện tử Ivivu.com phải chính xác, đầy đủ theo quy định của Công ty.</p>
    <p style="text-align: justify;">-&nbsp;&nbsp; &nbsp;Tất cả các nội dung trong Quy định này phải tuân thủ theo hệ thống pháp luật hiện hành của Việt Nam. Thành viên khi tham gia vào Sàn giao dịch thương mại điện tử Ivivu.com phải tự tìm hiểu trách nhiệm pháp lý của mình đối với luật pháp hiện hành của Việt Nam và cam kết thực hiện đúng những nội dung trong Quy chế của Sàn giao dịch thương mại điện tử Ivivu.com.</p>
    <p style="text-align: justify;">&nbsp;</p>
    <p style="text-align: justify;"><strong>III. Quy trình giao dịch</strong></p>
    <p style="text-align: justify;">&nbsp;</p>
    <p style="text-align: justify;"><em><strong>1. Quy trình mua hàng trên Ivivu.com</strong></em></p>
    <p style="text-align: justify;">Khi có nhu cầu mua dịch vụ trên Ivivu.com thành viên nên thực hiện theo các bước sau đây:</p>
    <p style="text-align: justify;">-&nbsp; &nbsp;Tìm kiếm, tham khảo thông tin dịch vụ và các nhà cung cấp dịch vụ mà thành viên đang quan tâm.</p>
    <p style="text-align: justify;">-&nbsp; &nbsp;Tham khảo thông tin giá và chính sách, điều kiện thực hiện của NCC mà thành viên đang có nhu cầu mua.</p>
    <p style="text-align: justify;">-&nbsp; &nbsp;Dựa trên thông tin tham khảo được từ bên NCC đăng tải tại Ivivu.com, thành viên tiến hành theo các bước sau.</p>
    <p style="text-align: justify;">- &nbsp; Thanh toán trực tiếp trên website Ivivu.com click vào nút “Đặt phòng”; Đăng nhập bằng tài khoản thành viên (Điền đầy đủ thông tin của khách hàng); Chọn hình thức thanh toán; Xác nhận lại đơn hàng; Gửi đơn đặt hàng.</p>
    <p style="text-align: justify;">- &nbsp; Đối với việc đặt Tour du lịch thì người mua sẽ liên hệ trực tiếp đến thông tin liên hệ của Nhà cung cấp hoặc số hotline của công ty để được tư vấn về các dịch vụ.</p>
    <p style="text-align: justify;">- &nbsp; Sau khi nhận được đơn đặt hàng ban quản trị website Ivivu.com xác nhận lại đơn hàng với thành viên.</p>
    <p style="text-align: justify;">- &nbsp; Thành viên nhận xác nhận đặt phòng khách sạn, tour du lịch.</p>
    <p style="text-align: justify;">- &nbsp; Thành viên thắc mắc, khiếu nại về chất lượng của sản phẩm, dịch vụ (nếu có).</p>
    <p style="text-align: justify;"><em><strong>2. Quy trình dành cho người NCC</strong></em></p>
    <p style="text-align: justify;">-&nbsp;&nbsp; &nbsp;Bước 1: đàm phán và ký hợp đồng đối tác với chủ website Ivivu.com.</p>
    <p style="text-align: justify;">-&nbsp;&nbsp; &nbsp;Bước 2: nhà cung cấp gửi các nội dung dịch vụ cho chủ website Ivivu.com để tiến hành đăng tải trên Ivivu.com.</p>
    <p style="text-align: justify;">- &nbsp; &nbsp;Bước 3: Chủ website Ivivu.com chuyển các đơn hàng cho nhà cung cấp hoặc trực tiếp nhận đơn hàng và giao hàng.</p>
    <p style="text-align: justify;">- &nbsp; &nbsp;Bước 4: Đối chiếu, thanh toán đơn hàng với Chủ website Ivivu.com</p>
    <p style="text-align: justify;">Nhà cung cấp phải có trách nhiệm cung cấp thông tin chính xác về dịch vụ của mình đăng bán và phải cập nhập thường xuyên số lượng còn trống.</p>
    <p style="text-align: justify;">Thực hiện đúng các cam kết đối với dịch vụ mà khách hàng đã mua.</p>
    <p style="text-align: justify;"><em><strong>3. Quy trình vận chuyển, giao nhận</strong></em></p>
    <p style="text-align: justify;">Công ty sẽ gửi xác nhận đơn đặt hàng của khách hàng qua email (thư điện tử), qua tin nhắn hoặc bàn giao trực tiếp tại văn phòng Công ty tại hai địa chỉ:</p>
    <p style="text-align: justify;">-&nbsp;&nbsp;&nbsp;&nbsp; Tp. Hồ Chí Minh: Lầu 7, Tòa nhà Anh Đăng, 215 Nam Kỳ Khởi Nghĩa, Phường 7, Quận 3, Tp. Hồ Chí Minh</p>
    <p style="text-align: justify;">- &nbsp; &nbsp; Tp. Hà Nội: Tầng 1, 70-72 Bà Triệu, Quận Hoàn Kiếm, Hà Nội</p>
    <p style="text-align: justify;">Công ty chưa cung cấp dịch vận chuyển, giao nhận tại địa chỉ mà khách hàng yêu cầu.</p>
    <p style="text-align: justify;"><em><strong>4. Quy trình và chính sách hủy dịch vụ</strong></em></p>
    <p style="text-align: justify;">Khách hàng liên hệ với Ivivu.com bằng bất kỳ cách nào dưới đây:</p>
    <p style="text-align: justify;">+ Website: www.Ivivu.com</p>
    <p style="text-align: justify;">+ Gọi điện: 08 39308291&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;Fax: 08 39308292</p>
    <p style="text-align: justify;">+ Email:&nbsp;<a href="http://accounts.google.com" target="_blank">hr@ivivu.info</a></p>
    <p style="text-align: justify;"><strong>Việc hỗ trợ đặt phòng và hủy phòng được Công ty tính phí như sau:</strong></p>
    <table style="height: 192px; border-color: orange;" width="419" border="soild">
        <caption>&nbsp;</caption>
        <tbody>
            <tr>
                <td><strong>Argentina<br>US$5.00 </strong></td>
                <td><strong>Australia<br>AU$5.00 </strong></td>
                <td><strong>Austria<br>EUR4.00</strong></td>
            </tr>
            <tr>
                <td style="background-color: #ffc299;"><strong>Belgium </strong><br><strong>EUR4.00</strong></td>
                <td style="background-color: #ffc299;">Brazil <br>US$5.00 &nbsp;</td>
                <td style="background-color: #ffc299;">Brunei <br>SG$5.00 &nbsp;</td>
            </tr>
            <tr>
                <td><strong>Cambodia </strong><br><strong>US$3.00&nbsp;</strong></td>
                <td>Canada <br>CA$5.00&nbsp;</td>
                <td>Chile <br>US$5.00&nbsp;</td>
            </tr>
            <tr>
                <td style="background-color: #ffc299;"><strong>China </strong><br><strong>US$3.00&nbsp;</strong></td>
                <td style="background-color: #ffc299;">Cook Islands<br>NZ$5.00 &nbsp;</td>
                <td style="background-color: #ffc299;">Croatia <br>EUR4.00 &nbsp;</td>
            </tr>
            <tr>
                <td><strong>Cyprus </strong><br><strong>EUR4.00&nbsp;</strong></td>
                <td>Czech Repub<br>EUR4.00 &nbsp;</td>
                <td>Denmark <br>DKK25.00 &nbsp;</td>
            </tr>
            <tr>
                <td style="background-color: #ffc299;"><strong>Fiji </strong><br><strong>AU$5.00&nbsp;</strong></td>
                <td style="background-color: #ffc299;">France <br>EUR4.00&nbsp;</td>
                <td style="background-color: #ffc299;">French Polyne<br>US$5.00 &nbsp;</td>
            </tr>
            <tr>
                <td><strong>Germany </strong><br><strong>EUR4.00&nbsp;</strong></td>
                <td>Greece <br>EUR4.00 &nbsp;</td>
                <td>Hong Kong <br>HK$40.00 &nbsp;</td>
            </tr>
            <tr>
                <td style="background-color: #ffc299;"><strong>Hungary </strong><br><strong>EUR4.00</strong></td>
                <td style="background-color: #ffc299;">India <br>US$5.00&nbsp;</td>
                <td style="background-color: #ffc299;">Indonesia <br>US$5.00 &nbsp;</td>
            </tr>
            <tr>
                <td><strong>Ireland </strong><br><strong>EUR4.00 &nbsp;</strong></td>
                <td>Italy <br>EUR4.00&nbsp;</td>
                <td>Japan <br>JPY300&nbsp;</td>
            </tr>
            <tr>
                <td style="background-color: #ffc299;"><strong>Korea South </strong><br><strong>US$5.00&nbsp;</strong></td>
                <td style="background-color: #ffc299;">Laos <br>US$3.00&nbsp;</td>
                <td style="background-color: #ffc299;">Macau <br>HK$40.00&nbsp;</td>
            </tr>
            <tr>
                <td><strong>Malaysia </strong><br><strong>MYR9.00&nbsp;</strong></td>
                <td>Mexico <br>US$5.00 &nbsp;</td>
                <td>Myanmar <br>US$5.00 &nbsp;</td>
            </tr>
            <tr>
                <td style="background-color: #ffc299;"><strong>Netherlands </strong><br><strong>EUR4.00 &nbsp;</strong></td>
                <td style="background-color: #ffc299;">New Caledonia<br>EUR4.00 &nbsp;</td>
                <td style="background-color: #ffc299;">New Zealand<br>NZ$5.00 &nbsp;</td>
            </tr>
            <tr>
                <td><strong>Norway </strong><br><strong>EUR4.00 &nbsp;</strong></td>
                <td>Papua New Guinea<br>AU$5.00&nbsp;</td>
                <td>Peru <br>US$5.00&nbsp;</td>
            </tr>
            <tr>
                <td style="background-color: #ffc299;"><strong>Philippines </strong><br><strong>US$5.00</strong></td>
                <td style="background-color: #ffc299;">Poland <br>EUR4.00&nbsp;</td>
                <td style="background-color: #ffc299;">Portugal <br>EUR4.00&nbsp;</td>
            </tr>
            <tr>
                <td><strong>Samoa </strong><br><strong>AU$5.00&nbsp;</strong></td>
                <td>Seychelles <br>US$5.00&nbsp;</td>
                <td>Singapore <br>SG$5.00&nbsp;</td>
            </tr>
            <tr>
                <td style="background-color: #ffc299;"><strong>Slovakia </strong><br><strong>EUR4.00&nbsp;</strong></td>
                <td style="background-color: #ffc299;">South Africa <br>ZAR35.00&nbsp;</td>
                <td style="background-color: #ffc299;">Spain <br>EUR4.00&nbsp;</td>
            </tr>
            <tr>
                <td><strong>Sri Lanka </strong><br><strong>US$5.00&nbsp;</strong></td>
                <td>&nbsp;Sweden <br>EUR4.00&nbsp;</td>
                <td>Switzerland<br>CHF10.00&nbsp;</td>
            </tr>
            <tr>
                <td style="background-color: #ffc299;"><strong>&nbsp;Taiwan </strong><br><strong>US$5.00&nbsp;</strong></td>
                <td style="background-color: #ffc299;">&nbsp;Thailand <br>THB90.00&nbsp;</td>
                <td style="background-color: #ffc299;">Turkey <br>EUR4.00 &nbsp;</td>
            </tr>
            <tr>
                <td><strong>&nbsp;United Arab Emirates </strong><br><strong>US$5.00&nbsp;</strong></td>
                <td>&nbsp;United Kingdo<br>GBP5.00&nbsp;</td>
                <td>USA <br>US$5.00 &nbsp;</td>
            </tr>
            <tr>
                <td style="background-color: #ffc299;"><strong>&nbsp;Vanuatu </strong><br><strong>AU$5.00&nbsp;</strong></td>
                <td style="background-color: #ffc299;">Vietnam <br>VND 20 000 &nbsp;</td>
                <td style="background-color: #ffc299;">&nbsp;</td>
            </tr>
        </tbody>
    </table>
    <p style="text-align: justify;">&nbsp;</p>
    <p style="text-align: justify;">Trong một vài trường hợp dịch vụ không được đổi hoặc hủy theo hợp đồng giữa Công ty và đối tác cung cấp dịch vụ trên Ivivu.com. Đề nghị khách hàng liên hệ đến Công ty để được tư vấn cụ thể.</p>
    <p style="text-align: justify;"><em><strong>5. Quy trình bảo hành/bảo trì</strong></em></p>
    <p style="text-align: justify;">Đối với việc sử dụng dịch vụ giớii thiệu sản phẩm, đặt hàng, thanh toán qua website, Công ty sẽ tiến hàng bảo trì hệ thống thường xuyên để quá trình sử dụng thực hiện của thành viên được ổn định.</p>
    <p style="text-align: justify;">Đối với dịch vụ khách sạn và du lịch do đối tác cung cấp sẽ không có chính sách bảo hành/bảo trì như sản phẩm hàng hóa thông thường khác. Tuy nhiên, Công ty yêu cầu đối tác phải cung cấp dịch vụ đúng nội dung đã mô tả trên website. Trong trường hợp khách hàng không được phục vụ đúng với chất lượng và nội dung đã mô tả, khách hàng sẽ liên hệ đến Ivivu.com để phản ánh về tình trạng trên.</p>
    <p style="text-align: justify;"><em><strong>6. Quy trình giải quyết tranh chấp, khiếu nại:</strong></em></p>
    <p style="text-align: justify;">Ivivu.com và NCC luôn có trách nhiệm tiếp nhận và xử lý khiếu nại của thành viên liên quan đến giao dịch tại website Ivivu.com.</p>
    <p style="text-align: justify;">KH có quyền gửi khiếu nại về việc chất lượng dịch vụ &nbsp;không đúng với mô tả, thông tin thanh toán bị tiết lộ gây thiệt hại cho mình đến Ban quản trị của Sàn giao dịch thương mại điện tử Ivivu.com. Khi tiếp nhận những phản hồi này, Ivivu.com sẽ xác nhận lại thông tin, trường hợp đúng như phản ánh của thành viên tùy theo mức độ, Ivivu.com sẽ có những biện pháp xử lý kịp thời.</p>
    <p style="text-align: justify;"><strong>KH gửi khiếu nại tại địa chỉ :</strong></p>
    <p style="text-align: justify;">o Công ty TNHH MTV IVIVU.COM.</p>
    <p style="text-align: justify;">o Địa chỉ:Lầu 7 – Tòa nhà Anh Đăng, 215 Nam Kỳ Khởi Nghĩa, Phường 07, Quận 03, Thành phố Hồ Chí Minh, Việt Nam</p>
    <p style="text-align: justify;">o Email:&nbsp;<a title="hr@ivivu.info" href="https://accounts.google.com" target="_blank">hr@ivivu.info</a></p>
    <p style="text-align: justify;">o Điện thoại: 08 39308291</p>
    <p style="text-align: justify;">o Fax: 08 39308292</p>
    <p style="text-align: justify;"><strong>Các bước giải quyết tranh chấp, khiếu nại:</strong></p>
    <p style="text-align: justify;">· &nbsp; Bước 1: Bộ phận Chăm Sóc Khách Hàng của Công ty sẽ tiếp nhận các khiếu nại của Thành viên hoặc Bộ phận Kinh doanh sẽ tiếp nhận các khiếu nại của NCC. Các Bộ phận này chủ động giải quyết nhanh chóng và trả lời ngay kết quả giải quyết các khiếu nại trên cơ sở các Chính sách mà Công ty đã công bố.</p>
    <p style="text-align: justify;">·&nbsp; &nbsp;Bước 2: Liên hệ với người phải ánh để xác minh lại thông tin phản ánh</p>
    <p style="text-align: justify;">·&nbsp; &nbsp;Bước 3: Liên hệ với NCC yêu cầu giải trình về sực việc gây tranh chấp</p>
    <p style="text-align: justify;">· &nbsp; Bước 4: Chuyển kết quả giải quyết khiếu nại cho các bộ phận có liên quan để thực hiện (Bộ phận Kế toán – Tài chính…) và gọi điện xác nhận với Thành viên/NCC về kết quả khiếu nại đã được giải quyết.</p>
    <p style="text-align: justify;">Ivivu.com tôn trọng và nghiêm túc thực hiện các quy định của pháp luật về bảo vệ quyền lợi của thành viên. Vì vậy, đề nghị các NCC trên &nbsp;Ivivu.com cung cấp đầy đủ, chính xác, trung thực và chi tiết các thông tin liên quan đến dịch vụ khách sạn và du lịch. Mọi hành vi lừa đảo, gian lận trong kinh doanh đều bị lên án và phải chịu hoàn toàn trách nhiệm trước pháp luật.</p>
    <p style="text-align: justify;">Chúng tôi công khai cơ chế giải quyết các tranh chấp phát sinh trong quá trình giao dịch trên Sàn giao dịch thương mại điện tử &nbsp;Ivivu.com. Khi người tiêu dùng mua dịch vụ phát sinh mâu thuẫn với NCC hoặc bị tổn hại lợi ích hợp pháp, Ivivu.com sẽ cung cấp cho thành viên thông tin đăng ký của NCC ngay sau khi nhận được yêu cầu của thành viên, tích cực hỗ trợ thành viên bảo vệ quyền và lợi ích hợp pháp của bản thân.</p>
    <p style="text-align: justify;">Ivivu.com công khai cơ chế và quy trình giải quyết tranh chấp đối với các bên liên quan là: giải quyết tranh chấp theo cơ chế trao đổi thỏa thuận thống nhất, các bên liên quan sẽ thực hiện theo quy trình trao đổi gián tiếp qua điện thoại, xác nhận văn bằng email, nếu vẫn chưa thỏa thuận được thì sẽ giải quyết thông qua gặp trực tiếp để cụ thể hóa vấn đề, giải quyết triệt để vấn đề mâu thuẫn giữa các bên sao cho có lợi nhất.</p>
    <p style="text-align: justify;">Các bên bao gồm NCC, Thành viên và Ivivu.com sẽ phải có vai trò trách nhiệm trong việc tích cực giải quyết vấn đề. Đối với NCC cần có trách nhiệm cung cấp văn bản giấy tờ chứng thực thông tin liên quan đến sự việc đang gây mâu thuẫn cho khách hàng. Đối với Ivivu.com sẽ có trách nhiệm trọng tài tiến hành lắng nghe và tiếp nhận thông tin từ khách hàng (trong trường hợp cụ thể chúng tôi sẽ: yêu cầu khách hàng cần có trách nhiệm cung cấp chính xác các thông tin vô hình và hữu hình về vấn đề mâu thuẫn đang phát sinh cần giải quyết mà khách hàng đã tự thấy mình bị thiệt hại) và NCC, sau đó tiến hành xem xét và nêu rõ, phân tích lỗi thuộc về bên nào. Lấy ý kiến về sự thỏa thuận mức độ bồi hoàn của 2 bên và kết thúc giải quyết tranh chấp một cách thỏa đáng nhất.</p>
    <p style="text-align: justify;">Trong trường hợp chứng minh được lỗi thuộc về NCC: Ivivu.com sẽ có biện pháp cảnh cáo, yêu cầu bồi hoàn lại toàn bộ chi phí mà thành viên đã phải bỏ ra để hoặc phải đổi lại dịch vụ đúng với chất lượng mà NCC thông báo tại &nbsp;Ivivu.com. Nếu NCC tái phạm &nbsp;Ivivu.com sẽ chấm dứt &nbsp;và gỡ bỏ toàn bộ nhưng &nbsp;dịch vụ của NCC đó trên Ivivu.com.</p>
    <p style="text-align: justify;">Nếu vì một lý do khách quan nào đó mà giao dịch phát sinh tranh chấp mâu thuẫn chưa thể giải quyết được, chưa thể kết luận được lỗi thuộc về bên nào cả, thì Ivivu.com sẽ có trách nhiệm đứng ra bồi hoàn cho bên thiệt hại cho khách hàng. Sau đó, Ivivu.com sẽ làm việc với bên gây ra thiệt hại nhằm đảm bảo thỏa đáng lợi ích của người bị hại. Và mọi thông tin trách nhiệm liên quan đến pháp lý về sau sẽ do Ivivu.com tự giải quyết với tư cách là chủ sở hữu Sàn giao dịch thương mại điện tử &nbsp;Ivivu.com với cơ quan chức năng có thẩm quyền mà không hề can dự đến khách hàng.</p>
    <p style="text-align: justify;">&nbsp;</p>
    <p style="text-align: justify;"><strong>IV. Quy trình thanh toán</strong></p>
    <p style="text-align: justify;"><strong>&nbsp;</strong></p>
    <p style="text-align: justify;">Thành viên có thể tham khảo phương thức thanh toán sau đây và lựa chọn áp dụng phương thức phù hợp:</p>
    <p style="text-align: justify;">Thanh toán online thông qua cổng thanh toán bằng thẻ tín dụng. Internet banking</p>
    <p style="text-align: justify;">Bước 1: Thành viên đặt hàng;</p>
    <p style="text-align: justify;">Bước 2: Chọn hình thức thanh toán thanh toán;</p>
    <p style="text-align: justify;">Bước 3: Ban quản lý website xác nhận đơn hàng;</p>
    <p style="text-align: justify;">Bước 4: Thành viên thanh toán trực tiếp tại Văn phòng công ty;</p>
    <p style="text-align: justify;">Bước 5: Công ty gửi hóa đơn thanh toán cho Thành viên.</p>
    <p style="text-align: justify;">&nbsp;</p>
    <p style="text-align: justify;"><strong>V. &nbsp;Đảm bảo an toàn giao dịch</strong></p>
    <p style="text-align: justify;">&nbsp;</p>
    <p style="text-align: justify;">Sàn giao dịch thương mại điện tử Ivivu.com xây dựng cơ chế bảo đảm an toàn giao dịch như sau:</p>
    <p style="text-align: justify;">Công Ty sử dụng việc thẩm định thông tin NCC và thông tin cá nhân của thành viên. Để bảo đảm rằng giao dịch được thực hiện thành công, và giảm thiểu rủi ro có thể phát sinh, Công ty tuân theo đúng các thủ tục sau đây:</p>
    <p style="text-align: justify;">- Bảo vệ thành viên: Hệ thống đặt hàng được thiết kế sao cho các thành viên của</p>
    <p style="text-align: justify;">Công ty không thể đặt hàng cho đến khi thành viên được an toàn khi đặt hàng.</p>
    <p style="text-align: justify;">- Ngay khi thành viên nhấp chuột vào nút „Đặt phòng‟/ „Đặt Tour‟ của trình duyệt thì việc đặt phòng sẽ ở chế độ an toàn. Mọi dữ liệu có liên quan đến các đơn hàng của thành viên, bao gồm tất cả các thông tin cá nhân, và chi tiết thanh toán, sẽ đi qua tất cả định dạng được mã hoá.</p>
    <p style="text-align: justify;">- Thành viên không nên cung cấp thông tin chi tiết về các khoản thanh toán cho bất kỳ ai qua thư điện tử hoặc các phương tiện khác. Công ty không chịu trách nhiệm đối với bất kỳ tổn thất nào mà thành viên có thể phải chịu do việc trao đổi thông tin có liên quan đến việc thanh toán bằng bất kỳ phương tiện nào.</p>
    <p style="text-align: justify;">- Thành viên không được sử dụng bất kỳ chương trình, công cụ, hoặc bất kỳ hình thức can thiệp nào khác vào hệ thống của Công ty hoặc thay đổi các cấu trúc dữ liệu. Tuyệt đối không được phân phát, phát tán, sử dụng bất kỳ hoạt động nào can thiệp và gây thiệt hại, hoặc xâm phạm nền tảng của các hoạt động kinh doanh giao dịch trên trang web của Công ty. Mọi vi phạm sẽ bị xử lý theo các điều khoản của quy chế này và các quy định của pháp luật có liên quan.</p>
    <p style="text-align: justify;">- Tất cả các bên tham gia với Công ty phải bảo mật mọi thông tin về giao dịch, trừ trường hợp pháp luật yêu cầu cung cấp thông tin.</p>
    <p style="text-align: justify;">&nbsp;</p>
    <p style="text-align: justify;"><strong>VI. Bảo vệ thông tin cá nhân khách hàng</strong></p>
    <p style="text-align: justify;">&nbsp;</p>
    <p style="text-align: justify;"><em><strong>1. &nbsp;Mục đích và phạm vi thu thập</strong></em></p>
    <p style="text-align: justify;">Việc thu thập dữ liệu chủ yếu trên Sàn giao dịch thương mại điện tử &nbsp;Ivivu.com bao gồm: &nbsp;email, điện thoại, tên đăng nhập, mật khẩu đăng nhập, địa chỉ khách hàng (thành viên). Đây là các thông tin mà Ivivu.com yêu cầu thành viên cung cấp khi đăng ký sử dụng dịch vụ và để Ivivu.com liên hệ xác nhận khi khách hàng đăng ký sử dụng dịch vụ trên website nhằm đảm bảo quyền lợi cho cho thành viên.</p>
    <p style="text-align: justify;">Trong quá trình giao dịch thanh toán tại Sàn giao dịch thương &nbsp;mại điện tử Ivivu.com, chúng tôi chỉ lưu giữ thông tin chi tiết về đơn hàng đã thanh toán của thành viên, các thông tin về số tài khoản ngân hàng của thành viên sẽ không được lưu giữ.</p>
    <p style="text-align: justify;">Chúng tôi cũng sẽ sử dụng cả thông tin nhận diện cá nhân của bạn và một số thông tin nhận diện phi cá nhân (như cookies, địa chỉ IP, loại trình duyệt, ngày tổng số, v.v.) để gia tăng khả năng đáp ứng của chúng tôi về phương diện các Trang và Dịch Vụ, cũng như về phát triển những chức năng, tính năng và các dịch vụ mới theo những xu hướng và sở thích đang diễn tiến.</p>
    <p style="text-align: justify;">Các thành viên sẽ tự chịu trách nhiệm về bảo mật và lưu giữ mọi hoạt động sử dụng dịch vụ dưới tên đăng ký, mật khẩu và hộp thư điện tử của mình. Ngoài ra, thành viên có trách nhiệm thông báo kịp thời cho webiste khuyến mại trực tuyến Ivivu.com về những hành vi sử dụng trái phép, lạm dụng, vi phạm bảo mật, lưu giữ tên đăng ký và mật khẩu của bên thứ ba để có biện pháp giải quyết phù hợp.</p>
    <p style="text-align: justify;"><em><strong>2. &nbsp;Phạm vi sử dụng thông tin</strong></em></p>
    <p style="text-align: justify;">Công ty sử dụng thông tin thành viên cung cấp để:</p>
    <p style="text-align: justify;">-&nbsp;&nbsp; &nbsp;Đặt phòng khách sạn cho thành viên;</p>
    <p style="text-align: justify;">-&nbsp;&nbsp; &nbsp;Cung cấp các dịch vụ đến thành viên;</p>
    <p style="text-align: justify;">-&nbsp;&nbsp; &nbsp;Gửi các thông báo về các hoạt động trao đổi thông tin giữa thành viên và</p>
    <p style="text-align: justify;">Sàn giao dịch thương mại điện tử Ivivu.com;</p>
    <p style="text-align: justify;">-&nbsp;&nbsp; &nbsp;Ngăn ngừa các hoạt động phá hủy tài khoản người dùng của thành viên</p>
    <p style="text-align: justify;">hoặc các hoạt động giả mạo thành viên;</p>
    <p style="text-align: justify;">-&nbsp;&nbsp; &nbsp;Liên lạc và giải quyết với thành viên trong những trường hợp đặc biệt.</p>
    <p style="text-align: justify;">-&nbsp;&nbsp; &nbsp;Không sử dụng thông tin cá nhân của thành viên ngoài mục đích xác nhận</p>
    <p style="text-align: justify;">và liên hệ có liên quan đến giao dịch tại Ivivu.com.</p>
    <p style="text-align: justify;">-&nbsp;&nbsp; &nbsp;Trong trường hợp có yêu cầu của pháp luật: Công ty có trách nhiệm hợp tác cung cấp thông tin cá nhân thành viên khi có yêu cầu từ cơ quan tư pháp bao gồm: Viện kiểm sát, tòa án, cơ quan công an điều tra liên quan đến hành vi vi phạm pháp luật nào đó của khách hàng. Ngoài ra, không ai có quyền xâm phạm vào thông tin cá nhân của thành viên.</p>
    <p style="text-align: justify;"><em><strong>3. &nbsp;Thời gian lưu trữ thông tin</strong></em></p>
    <p style="text-align: justify;">Dữ liệu cá nhân của thành viên sẽ được lưu trữ cho đến khi có yêu cầu hủy bỏ hoặc tự thành viên đăng nhập và thực hiện hủy bỏ. Còn lại trong mọi trường hợp thông tin cá nhân thành viên sẽ được bảo mật trên máy chủ của Ivivu.com.</p>
    <p style="text-align: justify;"><em><strong>4. &nbsp;Địa chỉ của đơn vị thu thập và quản lý thông tin cá nhân</strong></em></p>
    <p style="text-align: justify;">Công ty TNHH MTV IVIVU.COM.</p>
    <p style="text-align: justify;">Địa chỉ: Lầu 7 – Tòa nhà Anh Đăng, 215 Nam Kỳ Khởi Nghĩa, Phường 07, Quận 03, Thành phố Hồ Chí Minh, Việt Nam.</p>
    <p style="text-align: justify;">Email:&nbsp;<a href="https://accounts.google.com" target="_blank">hr@ivivu.info</a></p>
    <p style="text-align: justify;">Điện thoại: 08 39308291</p>
    <p style="text-align: justify;">Fax: 08 39308292</p>
    <p style="text-align: justify;"><em><strong>5. &nbsp;Phương tiện và công cụ để người dùng tiếp cận và chỉnh sửa dữ liệu cá nhân của mình.</strong></em></p>
    <p style="text-align: justify;">Thành viên có quyền tự kiểm tra, cập nhật, điều chỉnh hoặc hủy bỏ thông tin cá nhân của mình bằng cách đăng nhập vào tài khoản và chỉnh sửa thông tin cá nhân hoặc yêu cầu Ivivu.com thực hiện việc này.</p>
    <p style="text-align: justify;">Thành viên có quyền gửi khiếu nại về NCC đến Ban quản trị của Sàn giao dịch</p>
    <p style="text-align: justify;">thương mại điện tử Ivivu.com. Khi tiếp nhận những phản hồi này, Ivivu.com sẽ xác nhận lại thông tin, trường hợp đúng như phản ánh của thành viên tùy theo mức độ, Ivivu.com sẽ có những biện pháp xử lý kịp thời.</p>
    <p style="text-align: justify;">Email:&nbsp;<a href="https://accounts.google.com" target="_blank">hr@ivivu.info</a></p>
    <p style="text-align: justify;">Điện thoại: 08 39308291</p>
    <p style="text-align: justify;">Fax: 08 39308292</p>
    <p style="text-align: justify;"><em><strong>6. &nbsp;Cam kết bảo mật thông tin cá nhân khách hàng</strong></em></p>
    <p style="text-align: justify;">Thông tin cá nhân của thành viên trên Ivivu.com được Ivivu.com cam kết bảo mật tuyệt đối theo chính sách bảo vệ thông tin cá nhân của Ivivu.com. Việc thu thập và sử dụng thông tin của mỗi thành viên chỉ được thực hiện khi có sự đồng ý của khách hàng đó trừ những trường hợp pháp luật có quy định khác.</p>
    <p style="text-align: justify;">Không sử dụng, không chuyển giao, cung cấp hay tiết lộ cho bên thứ 3 nào về thông tin cá nhân của thành viên khi không có sự cho phép đồng ý từ thành viên. Trong một vài trường hợp chúng tôi sẽ cung cấp 1 số thông tin cá nhân của thành viên mua cho NCC để giúp NCC xác nhận người mua.</p>
    <p style="text-align: justify;">Trong trường hợp máy chủ lưu trữ thông tin bị hacker tấn công dẫn đến mất mát dữ liệu cá nhân thành viên, Ivivu.com sẽ có trách nhiệm thông báo vụ việc cho cơ quan chức năng điều tra xử lý kịp thời và thông báo cho thành viên được biết.</p>
    <p style="text-align: justify;">Bảo mật tuyệt đối mọi thông tin giao dịch trực tuyến của thành viên bao gồm thông tin hóa đơn kế toán chứng từ số hóa tại khu vực dữ liệu trung tâm an toàn cấp 1 của Ivivu.com.</p>
    <p style="text-align: justify;">Ban quản lý Ivivu.com yêu cầu các cá nhân khi đăng ký/đặt phòng là Thành viên, phải cung cấp đầy đủ thông tin cá nhân có liên quan như: Họ và tên, địa chỉ liên lạc, email, số chứng minh nhân dân, điện thoại, số tài khoản, số thẻ thanh toán …., và chịu trách nhiệm về tính pháp lý của những thông tin trên. Ban quản lý Ivivu.com không chịu trách nhiệm cũng như không giải quyết mọi khiếu nại có liên quan đến quyền lợi của thành viên đó nếu xét thấy tất cả thông tin cá nhân của thành viên đó cung cấp khi đăng ký ban đầu là không chính xác.</p>
    <p style="text-align: justify;">&nbsp;</p>
    <p style="text-align: justify;"><strong>VII.&nbsp; &nbsp;Quản lý thông tin về khuyến mại</strong></p>
    <p style="text-align: justify;">&nbsp;</p>
    <p style="text-align: justify;">Sàn giao dịch thương mại điện tử Ivivu.com có trách nhiệm kiểm duyệt những thông &nbsp;tin về dịch vụ mà NCC&nbsp; gửi cho bên quản trị website để đăng bán voucher. Ivivu.com sẽ từ chối đăng bán những voucher khi thông tin mà NCC đưa cho bên Công ty xét duyệt là không chính xác với loại hình dịch vụ khách sạn và du lịch</p>
    <p style="text-align: justify;">Thông tin về khuyến mại hiện thị rõ ràng các điều kiện, số lượng, thời gian mà NCC đưa ra cho mỗi voucher được bán trên Ivivu.com.</p>
    <p style="text-align: justify;">Tuy theo từng thời điểm khuyến mại của NCC thì Ivivu.com sẽ điều chỉnh mức khuyến mại cho phù hợp. Đối với KH mua voucher ở thời điểm trước khi điều chỉnh và còn hiệu lực thì KH đó vẫn được hưởng ưu đãi ở thời điểm mua.</p>
    <p style="text-align: justify;">&nbsp;</p>
    <p style="text-align: justify;"><strong>VIII. Trách nhiệm trong trường hợp phát sinh lỗi kỹ thuật</strong></p>
    <p style="text-align: justify;">&nbsp;</p>
    <p style="text-align: justify;">Sàn giao dịch thương mại điện tử Ivivu.com cam kết nỗ lực đảm bảo sự an toàn và ổn định của toàn bộ hệ thống kỹ thuật. Tuy nhiên, trong trường hợp xảy ra sự cố do lỗi của Ivivu.com, Ivivu.com sẽ ngay lập tức áp dụng các biện pháp để đảm bảo quyền lợi cho thành viên.</p>
    <p style="text-align: justify;">Khi thực hiện các giao dịch trên Ivivu.com, bắt buộc các thành viên phải thực hiện đúng theo các quy trình hướng dẫn.</p>
    <p style="text-align: justify;">Ban quản lý Sàn giao dịch thương mại điện tử Ivivu.com cam kết cung cấp chất lượng dịch vụ tốt nhất cho các thành viên tham gia giao dịch. Trường hợp phát sinh lỗi kỹ thuật, lỗi phần mềm hoặc các lỗi khách quan khác dẫn đến thành viên không thể tham gia giao dịch được thì các thành viên thông báo cho Ban quản lý Sàn giao dịch thương mại điện tử tại địa chỉ email: &nbsp;accounts@ivivu.info chúng tôi sẽ khắc phục lỗi trong thời gian sớm nhất, tạo điều kiện cho các thành viên tham gia giao dịch tại Ivivu.com.</p>
    <p style="text-align: justify;">Tuy nhiên, Ban quản lý Sàn giao dịch thương mại điện tử Ivivu.com sẽ không chịu trách nhiệm giải quyết trong trường hợp thông báo của các thành viên không đến được Ban quản lý, phát sinh từ lỗi kỹ thuật, lỗi đường truyền, &nbsp;phần mềm hoặc các lỗi khác không do Ban quản lý gây ra.</p>
    <p style="text-align: justify;">&nbsp;</p>
    <p style="text-align: justify;"><strong>IX. Quyền và nghĩa vụ của Ban quản lý Sàn giao dịch thƣơng mại điện tử Ivivu.com</strong></p>
    <p style="text-align: justify;">&nbsp;</p>
    <p style="text-align: justify;"><em><strong>1. &nbsp;Quyền của Ban quản lý Sàn giao dịch thương mại điện tử Ivivu.com</strong></em></p>
    <p style="text-align: justify;">Sàn giao dịch thương mại điện tử Ivivu.com sẽ tiến hành cung cấp các dịch vụ cho những thành viên tham gia sau khi đã hoàn thành các thủ tục và các điều kiện bắt buộc mà Sàn giao dịch thương mại điện tử Ivivu.com nêu ra.</p>
    <p style="text-align: justify;">Trong trường hợp có cơ sở để chứng minh thành viên cung cấp thông tin cho Sàn giao dịch thương mại điện tử Ivivu.com không chính xác, sai lệch, không đầy đủ hoặc vi phạm pháp luật hay thuần phong mỹ tục Việt Nam thì Ivivu.com có quyền từ chối, tạm ngừng hoặc chấm dứt quyền sử dụng dịch vụ của thành viên.</p>
    <p style="text-align: justify;">Sàn giao dịch thương mại điện tử Ivivu.com có thể chấm dứt quyền thành viên và quyền sử dụng một hoặc tất cả các dịch vụ của thành viên và sẽ thông báo cho thành viên trong thời hạn ít nhất là một (01) tháng trong trường hợp thành viên vi phạm các Quy chế này của Sàn giao dịch thương mại điện tử Ivivu.com hoặc có những hành vi ảnh hưởng đến hoạt động kinh doanh trên Sàn giao dịch thương mại điện tử Ivivu.com.</p>
    <p style="text-align: justify;">Sàn giao dịch thương mại điện tử Ivivu.com sẽ xem xét việc chấm dứt quyền sử dụng dịch vụ và quyền thành viên của thành viên nếu thành viên không tham gia hoạt động giao dịch và trao đổi thông tin trên Sàn giao dịch thương mại điện tử Ivivu.com liên tục trong ba (03) tháng. Nếu muốn tiếp tục trở thành thành viên và được cấp lại quyền sử dụng dịch vụ thì phải đăng ký lại từ đầu theo mẫu và thủ tục của Sàn giao dịch thương mại điện tử Ivivu.com.</p>
    <p style="text-align: justify;">Sàn giao dịch thương mại điện tử Ivivu.com có thể chấm dứt ngay quyền sử dụng dịch vụ và quyền &nbsp;thành viên của thành viên nếu Sàn giao dịch thương &nbsp;mại điện tử Ivivu.com phát hiện thành viên đã phá sản, bị kết án hoặc đang trong thời gian thụ án,</p>
    <p style="text-align: justify;">trong trường hợp thành viên tiếp tục hoạt động có thể gây cho Sàn giao dịch thương mại</p>
    <p style="text-align: justify;">điện tử Ivivu.com trách nhiệm pháp lý, có những hoạt động lừa đảo, giả mạo, gây rối loạn thị trường, gây mất đoàn kết đối với các thành viên khác của Sàn giao dịch thương mại điện tử Ivivu.com, hoạt động vi phạm pháp luật hiện hành của Việt Nam. Trong trường hợp chấm dứt quyền thành viên và quyền sử dụng dịch vụ thì tất cả các chứng nhận, các quyền của thành viên được cấp sẽ mặc nhiên hết giá trị và bị chấm dứt.</p>
    <p style="text-align: justify;">Sàn giao dịch thương mại điện tử Ivivu.com giữ bản quyền sử dụng dịch vụ và các nội dung trên Sàn giao dịch thương mại điện tử Ivivu.com theo các quy dịnh pháp luật về bảo hộ sở hữu trí tuệ tại Việt Nam. Tất cả các biểu tượng, nội dung theo các ngôn ngữ khác nhau đều thuộc quyền sở hữu của Sàn giao dịch thương mại điện tử Ivivu.com. Nghiêm cấm mọi hành vi sao chép, sử dụng và phổ biến bất hợp pháp các quyền sở hữu trên.</p>
    <p style="text-align: justify;"><em><strong>2. &nbsp;Nghĩa vụ và trách nhiệm của Ban quản lý Sàn giao dịch thương mại điện tử Ivivu.com</strong></em></p>
    <p style="text-align: justify;">Sàn giao dịch thương mại điện tử Ivivu.com có trách nhiệm xây dựng, thực hiện cơ chế kiểm tra, giám sát để đảm bảo việc cung cấp thông tin của sản phẩm, dịch vụ và thông tin về NCC trên Sàn giao dịch thương mại điện tử Ivivu.com được thực hiện chính xác đầy đủ.</p>
    <p style="text-align: justify;">Sàn giao dịch thương mại điện tử Ivivu.com chịu trách nhiệm xây dựng website bao gồm một số công việc chính như: nghiên cứu, thiết kế, mua sắm các thiết bị phần cứng và phần mềm, kết nối Internet, xây dựng chính sách phục vụ cho hoạt động Sàn giao dịch thương mại điện tử Ivivu.com trong điều kiện và phạm vi cho phép. Sàn giao dịch thương mại điện tử Ivivu.com sẽ tiến hành triển khai và hợp tác với các đối tác trong việc xây dựng hệ thống các dịch vụ, các công cụ tiện ích phục vụ cho việc giao dịch của các thành viên tham gia trên Sàn giao dịch thương mại điện tử Ivivu.com.</p>
    <p style="text-align: justify;">Sàn giao dịch thương mại điện tử Ivivu.com chịu trách nhiệm xây dựng, bổ sung hệ thống các kiến thức, thông tin về: nghiệp vụ ngoại thương, thương mại điện tử, hệ thống văn bản pháp luật thương mại trong nước và quốc tế, thị trường nước ngoài, cũng như các tin tức có liên quan đến hoạt động &nbsp;của Sàn giao dịch thương &nbsp;mại điện tử Ivivu.com.</p>
    <p style="text-align: justify;">Sàn giao dịch thương mại điện tử Ivivu.com và tiến hành các hoạt động xúc tiến, quảng bá Sàn giao dịch thương mại điện tử Ivivu.com ra thị trường nước ngoài trong phạm vi và điều kiện cho phép, góp phần mở rộng, kết nối đáp ứng các nhu cầu tìm kiếmbạn hàng và phát triển thị trường nước ngoài của các NCC tham gia Sàn giao dịch thương mại điện tử Ivivu.com.</p>
    <p style="text-align: justify;">Ban quản lý sàn sẽ nỗ lực tối đa và nghiêm túc loại bỏ những thông tin không trung thực hoặc hàng hóa giả như sau:</p>
    <p style="text-align: justify;">-&nbsp;&nbsp; &nbsp;Loại bỏ những thông tin bán hàng hóa, dịch vụ thuộc danh mục hàng hóa, dịch vụ cấm kinh doanh và hàng hóa hạn chế kinh doanh theo quy định của pháp luật.</p>
    <p style="text-align: justify;">-&nbsp;&nbsp;&nbsp;&nbsp; Loại bỏ những thông tin bán hàng giả, hàng nhái, hàng nhập lậu, hàng vi phạm quyền sở hữu trí tuệ.</p>
    <p style="text-align: justify;">Yêu cầu người bán các hàng hóa, dịch vụ thuộc danh mục hàng hóa, dịch vụ kinh doanh có điều kiện phải cung cấp Giấy chứng nhận đủ điều kiện kinh doanh đối với hàng hóa, dịch vụ đó</p>
    <p style="text-align: justify;">Sàn giao dịch thương mại điện tử Ivivu.com sẽ cố gắng đến mức cao nhất trong phạm vi và điều kiện có thể để duy trì hoạt động bình thường của Sàn giao dịch thương mại điện tử Ivivu.com và khắc phục các sự cố như: sự cố kỹ thuật về máy móc, lỗi phần mềm, hệ thống đường truyền internet, nhân sự, các biến động xã hội, thiên tai, mất điện, các quyết định của cơ quan nhà nước hay một tổ chức liên quan thứ ba. Tuy nhiên nếu những sự cố trên xảy ra nằm ngoài khả năng kiểm soát, là những trường hợp bất khả kháng mà gây thiệt hại cho thành viên thì Sàn giao dịch thương mại điện tử &nbsp;Ivivu.com không phải chịu trách nhiệm liên đới.</p>
    <p style="text-align: justify;">Ivivu.com có trách nhiệm tiếp nhận phản ánh, khiếu nại của khách hàng khi sử dụng dịch vụ mà NCC bán tại Ivivu.com.</p>
    <p style="text-align: justify;">Ivivu.com phối hợp với NCC để giải quyết tranh chấp xảy ra giữa KH và NCC trong quá trình KH sử dụng dịch vụ do NCC đó khuyến mại bán tại Ivivu.com.</p>
    <p style="text-align: justify;">&nbsp;</p>
    <p style="text-align: justify;"><strong>X. &nbsp;Quyền và trách nhiện của NCC</strong></p>
    <p style="text-align: justify;">&nbsp;</p>
    <p style="text-align: justify;"><em><strong>1. &nbsp;Quyền của NCC</strong></em></p>
    <p style="text-align: justify;">Sau khi ký hợp đồng NCC sẽ được tạo một gian hàng và được công bố thông tin giới thiệu về NCC và dịch vụ khách sạn và du lịch của NCC đó trên website Ivivu.com. NCC &nbsp;được hỗ trợ đào tạo &nbsp;những kỹ năng cần thiết hoạt &nbsp;động trên &nbsp;website Ivivu.com.</p>
    <p style="text-align: justify;">NCC được hưởng các chính sách ưu đãi do ban quản lý website Ivivu.com đề ra trong quá trình hoạt động và được hỗ trợ quảng cáo, quảng bá hình ảnh trên website Ivivu.com.</p>
    <p style="text-align: justify;"><em><strong>2. &nbsp;Trách nhiệm NCC</strong></em></p>
    <p style="text-align: justify;">Cung cấp đầy đủ thông tin về dịch vụ khách sạn và du lịch cho ban quản lý Sàn giao dịch thương mại điện tử Ivivu.com. NCC có trách nhiệm cung cấp cho Sàn giao dịch thương mại điện tử Ivivu.com bản sao giấy đăng ký kinh doanh. Trong trường hợp NCC là chủ sở hữu một thương hiệu dịch vụ hoặc đại lý ủy quyền của một nhãn hàng thì NCC có trách nhiệm cung cấp một (01) bản photo có công chứng giấy đăng ký thương hiệu hoặc giấy Ủy quyền phân phối của nhãn hàng đó.</p>
    <p style="text-align: justify;">NCC có trách nhiệm niêm yết chính xác về chất lương, số lượng, giá, các thông tin khác liên quan đến dịch vụ.</p>
    <p style="text-align: justify;">Phối hợp với Sàn giao dịch thương mại điện tử Ivivu.com giải quyết những vấn đề tranh chấp giữa thành viên với NCC về chất lượng dịch vụ. NCC có nghĩa vụ phải bồi thường những thiết hại của thành viên khi lỗi được xác định thuộc về NCC.</p>
    <p style="text-align: justify;">&nbsp;</p>
    <p style="text-align: justify;"><strong>XI. Quyền và trách nhiệm thành viên tham gia Sàn giao dịch Ivivu.com</strong></p>
    <p style="text-align: justify;">&nbsp;</p>
    <p style="text-align: justify;"><em><strong>1. &nbsp;Quyền của Thành viên Sàn giao dịch TMĐT Ivivu.com</strong></em></p>
    <p style="text-align: justify;">Khi đăng ký trở thành thành viên của Ivivu.com và được Ivivu.com đồng ý, thành viên sẽ được cấp một tên đăng ký và mật khẩu riêng để được vào sử dụng các dịch vụ,các giao dịch của mình trên Sàn giao dịch thương mại điện tử Ivivu.com.</p>
    <p style="text-align: justify;">Thành viên sẽ được nhân viên của Sàn giao dịch thương mại điện tử Ivivu.com hướng dẫn sử dụng được các công cụ, các tính năng phục vụ cho việc giao dịch và sử dụng các dịch vụ tiện ích trên Sàn giao dịch thương mại điện tử Ivivu.com.</p>
    <p style="text-align: justify;">Thành viên có quyền &nbsp;đóng góp ý kiến cho Sàn giao dịch thương mại điện tử Ivivu.com trong quá trình hoạt động. Các kiến nghị được gửi trực tiếp bằng thư, fax hoặc email đến cho Sàn giao dịch thương mại điện tử Ivivu.com.</p>
    <p style="text-align: justify;"><em><strong>2. &nbsp;Nghĩa vụ của Thành viên Sàn giao dịch TMĐT Ivivu.com</strong></em></p>
    <p style="text-align: justify;">Thành viên sẽ tự chịu trách nhiệm về bảo mật và lưu giữ và mọi hoạt động sử dụng dịch vụ dưới tên đăng ký, mật khẩu và hộp thư điện tử của mình.</p>
    <p style="text-align: justify;">Thành viên có trách nhiệm thông báo kịp thời cho Sàn giao dịch thương mại điện tử Ivivu.com về những hành vi sử dụng trái phép, lạm dụng, vi phạm bảo mật, lưu giữ tên đăng ký và mật khẩu của mình để hai bên cùng hợp tác xử lý.</p>
    <p style="text-align: justify;">Thành viên cam kết những thông tin cung cấp cho Ivivu.com và những thông tin cá nhân (tên, địa chi, số điện thoại, email…) dùng để đăng ký tài khoản trên Sàn giao dịch thương mại điện tử Ivivu.com là chính xác.</p>
    <p style="text-align: justify;">Thành viên cam kết, đồng ý không sử dụng dịch vụ của Sàn giao dịch thương mại điện tử Ivivu.com vào những mục đích bất hợp pháp, không hợp lý, lừa đảo, đe doạ, thăm dò thông tin bất hợp pháp, phá hoại, tạo ra và phát tán virus gây hư hại tới hệ thống, cấu hình, truyền tải thông tin của Sàn giao dịch thương mại điện tử Ivivu.com hay sử dụng dịch vụ của mình vào mục đích đầu cơ, lũng đoạn thị trường tạo những đơn đặt hàng giả, kể cả phục vụ cho việc phán đoán nhu cầu thị trường. Trong trường hợp vi phạm thì thành viên phải chịu trách nhiệm về các hành vi của mình trước pháp luật.</p>
    <p style="text-align: justify;">Thành viên cam kết không được thay đổi, chỉnh sửa, sao chép, truyền bá, phân phối, cung cấp và tạo những công cụ tương tự của dịch vụ do Sàn giao dịch thương mại điện tử Ivivu.com cung cấp cho một bên thứ ba nếu không được sự đồng ý của Sàn giao dịch thương mại điện tử Ivivu.com trong Quy chế này.</p>
    <p style="text-align: justify;">Thành viên không được hành động gây mất uy tín của Sàn giao dịch thương mại điện tử Ivivu.com dưới mọi hình thức như gây mất đoàn kết giữa các thành viên bằng cách sử dụng tên đăng ký thứ hai, thông qua một bên thứ ba hoặc tuyên truyền, phổ biến những thông tin không có lợi cho uy tín của Sàn giao dịch thương mại điện tử Ivivu.com.</p>
    <p style="text-align: justify;">&nbsp;</p>
    <p style="text-align: justify;"><strong>XII. Điều khoản áp dụng</strong></p>
    <p style="text-align: justify;">&nbsp;</p>
    <p style="text-align: justify;">- Quy chế của Sàn giao dịch thương mại điện tử Ivivu.com chính thức có hiệu lực thi hành kể từ ngày ký Quyết định ban hành kèm theo Quy chế này. Sàn giao dịch thương mại điện tử Ivivu.com có quyền và có thể thay đổi Quy chế này bằng cách thông báo lên Sàn giao dịch thương mại điện tử Ivivu.com cho các NCC và thành viên biết. Quy chế sửa đổi có hiệu lực kể từ ngày Quyết định về việc sửa đổi Quy chế có hiệu lực. Việc thành viên tiếp tục sử dụng dịch vụ sau khi Quy chế sửa đổi được công bố và thực thi đồng nghĩa với việc thành viên đã chấp nhận Quy chế sửa đổi này.</p>
    <p style="text-align: justify;">- Quy chế hoạt động sẽ được Sàn giao dịch thương mại điện tử Ivivu.com cập nhật bổ sung liên tục mà không cần thông báo trước. Thành viên tham gia Sàn giao dịch thương mại điện tử Ivivu.com có trách nhiệm tuân theo quy chế hiện hành khi giao dịch trên website.</p>
    <p style="text-align: justify;">&nbsp;</p>
    <p style="text-align: justify;"><strong>XIII. Điều khoản cam kết</strong></p>
    <p style="text-align: justify;">&nbsp;</p>
    <p style="text-align: justify;">- Mọi thành viên và NCC khi sử dụng Sàn giao dịch thương mại điện tử Ivivu.com làm giao dịch mua bán trực tuyến thì đồng nghĩa việc các bên có liên quan đã chấp thuận tuân theo quy chế này.</p>
    <p style="text-align: justify;">- Mọi thắc mắc của khách hàng xin vui lòng liên hệ với Sàn giao dịch thương mại điện tử Ivivu.com theo thông tin dưới đây để được giải đáp:</p>
    <p style="text-align: justify;"><strong>Hỗ trợ khách hàng</strong></p>
    <p style="text-align: justify;">Sàn giao dịch thương mại điện tử Ivivu.com</p>
    <p style="text-align: justify;">Địa chỉ: Lầu 7 – Tòa nhà Anh Đăng, 215 Nam Kỳ Khởi Nghĩa, Phường 07, Quận 03, Thành phố Hồ Chí Minh, Việt Nam.</p>
    <p style="text-align: justify;">E-mail:&nbsp;<a href="https://accounts.google.com" target="_blank">hr@ivivu.info</a></p>
</div>

