
@{
    ViewBag.Title = "Tours";
    ViewBag.Message = "đây là tours";
    @*
        
    *@
    Layout = "~/Views/Shared/NguoiDungLayout.cshtml";
}
@section SideBar
{
    <a href="#" class="list-group-item text-white" style="color:transparent">7</a>
    <a href="#" class="list-group-item text-white" style="color:transparent">8 </a>
    <a href="#" class="list-group-item text-white" style="color:transparent">9</a>
}

<h2>Tours</h2>

<div>
    <h2>Danh mục Tours</h2>
    <a>Thông tin</a>
    <a>Thông tin</a>
    <a>Thông tin</a>
</div>
<div>
    <h2>Các mục Tours nổi bật</h2>
    <a>Thông tin</a>
    <a>Thông tin</a>
    <a>Thông tin</a>
</div>
