
@{
    ViewBag.Title = "TuyenDung";
    Layout = "~/Views/Shared/NguoiDungLayout_2.cshtml";
}

<div class="right-col-wrap">
    <p><img src="//cdn1.ivivu.com/iVivu/2015/03/10/14/tuyendung.jpg" alt="" width="980" height="459">&nbsp;</p>
    <p>&nbsp;</p>
    <p><a href="https://www.ivivu.com/">iVIVU.com</a>&nbsp;là hệ thống đặt tour và phòng khách sạn toàn thế giới cho người Việt – một thành viên của Tập đoàn TMG Việt Nam với hơn 20 năm kinh nghiệm trong lĩnh vực Du lịch – Khách sạn. TMG Việt Nam hiện đang sở hữu một số thương hiệu nổi tiếng trên thị trường như Buffalo Tours, Hàng không Hải Âu, Victoria Hotels and Resorts, ÊMM, <a href="https://www.ivivu.com/">iVIVU.com</a>…</p>
    <p><a href="https://www.ivivu.com/">iVIVU.com</a>&nbsp;đang không ngừng tăng trưởng, mở rộng thị phần trong ngành kinh doanh đặt tour và phòng khách sạn trực tuyến, là đối tác của hơn 5.000 khách sạn ở Việt Nam và hơn 345.000 khách sạn khắp Thế giới, 250 tour chọn lọc.</p>
    <p>Để thực hiện được những mục tiêu lớn hơn, <a href="https://www.ivivu.com/">iVIVU.com</a>&nbsp;xác định con người chính là yếu tố cốt lõi. Do đó, chúng tôi tập trung xây dựng một môi trường làm việc chuyên nghiệp và nhiều cơ hội phát triển, sẵn sàng chào đón những nhân sự trẻ trung, nhiệt huyết, ham học hỏi cùng đồng hành.</p>
    <p>Nhằm phục vụ ngày một nhiều hơn yêu cầu từ khách hàng từ các thị trường khác nhau, với nỗ lực giữ vững chất lượng sản phẩm, dịch vụ&nbsp; hàng đầu,&nbsp;iVIVU.com&nbsp;trân trọng gửi lời mời hợp tác làm việc tới các anh chị, các bạn, đặc biệt những ai yêu thích, có khả năng hay kinh nghiệm cùng lòng đam mê với lĩnh vực du lịch trực tuyến.&nbsp;</p>
    <p>Các anh chị, các bạn quan tâm vui lòng tham khảo thêm thông tin về <a href="https://www.ivivu.com/">iVIVU.com</a>&nbsp;cũng như các vị trí mời hợp tác.</p>
    <p style="text-align: center;">——————————————————————————</p>
    <p><strong>1. NHÂN VIÊN CHĂM SÓC KHÁCH HÀNG</strong></p>
    <p>1. Trách nhiệm công việc:</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Thực hiện các cuộc gọi đến cho khách hàng, khảo sát về sản phẩm và dịch vụ đã trải nghiệm</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Cập nhật kết quả khảo sát lên hệ thống và thông tin đến các bộ phận liên quan</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Đảm bảo các vướng mắc, khiếu nại của khách hàng phải được giải quyết và phản hồi thông tin một cách rõ ràng và đầy đủ</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Chủ động cập nhật thông tin kinh doanh Công ty mỗi ngày&nbsp;</p>
    <p>2. Yêu cầu:</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Nhiệt tình, chịu khó, thích làm việc với khách hàng</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ưu tiên các ứng viên muốn làm việc lâu dài</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Công việc được đào tạo cụ thể</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Làm việc theo ca</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Làm việc ngày Lễ, Tết</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Sẵn sàng làm thêm giờ khi công ty cần&nbsp;</p>
    <p>*&nbsp; Kỹ năng :</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Chăm sóc khách hàng</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Xử lý than phiền</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Làm việc độc lập và làm việc nhóm&nbsp;</p>
    <p>*&nbsp; Ngôn ngữ:</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Tiếng Việt: phát âm chuẩn tiếng Việt</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Có thể giao tiếp bằng tiếng Anh là một lợi thế&nbsp;</p>
    <p>*&nbsp; Nơi làm việc:</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Tp.HCM: Tầng 7, 215 Nam Kỳ Khởi Nghĩa, Phường 7, Quận 3, TP.HCM</p>
    <p>Chính sách phúc lợi:</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Mức lương cạnh tranh</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Tham gia BHXH, BHYT, BHTN theo quy định luật lao động</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Tham gia bảo hiểm sức khỏe 24/24 theo quy định công ty.</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Tham gia các sự kiện cá nhân và tập thể</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 16 ngày phép/ năm</p>
    <p><strong>2. NHÂN VIÊN ĐIỀU HÀNH</strong></p>
    <p>1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Các trách nhiệm và nhiệm vụ chính:</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Điều hành, đặt xe, tàu, khách sạn, dịch vụ ăn uống, tour, vé máy bay… để phục vụ cho khách đi du lịch</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Tiếp nhận thông tin đặt dịch vụ</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Giám sát dịch vụ của đối tác, nhà cung cấp</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Đàm phán với các nhà cung ứng để có dịch vụ và giá cả hợp lý nhất</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Phối hợp nhân viên kinh doanh, cộng tác viên kinh doanh trong các dịch vụ do mình phụ trách</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Các công việc khác theo sự chỉ đạo của cấp trên&nbsp;</p>
    <p>2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Yêu cầu</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ứng viên trẻ trung, năng động, độ tuổi từ 22-28 tuổi</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Chịu được áp lực cao trong công việc</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Sẵn sàng làm thêm giờ, làm việc ngày Lễ Tết</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Giao tiếp tốt, cẩn thận, tỷ mỉ</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Năng động, nhạy bén, giải quyết vấn đề</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Chủ động, Trung thực, trách nhiệm, nhiệt tình, có khả năng làm việc độc lập</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Thành thạo kỹ năng vi tính văn phòng (Word, Excel, Internet, …)&nbsp;</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Tiếng Anh giao tiếp&nbsp;</p>
    <p>*&nbsp; Nơi làm việc: Trụ sở chính iVIVU.com tại Hồ Chí Minh</p>
    <p>3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Chính sách phúc lợi:</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Lương cạnh tranh</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Tham gia BHXH, BHYT, BHTN theo quy định luật lao động</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;Bảo hiểm sức khỏe 24/24 theo quy định công ty.</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Tham gia các sự kiện cá nhân và tập thể</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 16 ngày phép/ năm</p>
    <p><strong>3. PRODUCT MANAGER - QUẢN LÝ SẢN PHẨM DU LỊCH</strong></p>
    <p>1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Các trách nhiệm và nhiệm vụ chính:</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Chịu trách nhiệm về vùng được giao theo chỉ tiêu, yêu cầu công ty đưa ra</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Thương lượng với nhà cung cấp khách sạn đảm bảo giá tốt nhất, khả năng cung ứng phòng khách sạn</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Phát triển thêm sản phẩm mới cho đối tượng khách hàng cao cấp (4, 5 sao)</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Phối hợp với phòng bán hàng, marketing trong các các hoạt động liên quan khách hàng&nbsp;</p>
    <p>2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Yêu cầu</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Có kinh nghiệm làm việc ít nhất 2 năm</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Kỹ năng giao tiếp/thương lượng tốt</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Chịu được áp lực cao trong công việc</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Thích nghi nhanh với sự thay đổi</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Có khả năng làm việc đa nhiệm</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Sẵn sàng làm thêm giờ, làm việc ngày Lễ Tết</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Chủ động, Trung thực, trách nhiệm, nhiệt tình, có khả năng làm việc độc lập</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Kỹ năng phân tích, tổng hợp báo cáo&nbsp;</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Thành thạo kỹ năng vi tính văn phòng (Word, Excel, Internet, …)&nbsp;</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Thành thạo tiếng Anh giao tiếp&nbsp;</p>
    <p>*&nbsp;Nơi làm việc: Trụ sở chính iVIVU.com tại Hồ Chí Minh</p>
    <p>3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Chính sách phúc lợi:</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Lương cạnh tranh</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Tham gia BHXH, BHYT, BHTN theo quy định luật lao động</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;Bảo hiểm sức khỏe 24/24 theo quy định công ty.</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Tham gia các sự kiện cá nhân và tập thể</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 16 ngày phép/ năm</p>
    <p><strong>4. NHÂN VIÊN TƯ VẤN DU LỊCH</strong></p>
    <p>1. Trách nhiệm công việc:</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Mang đến cho khách hàng trãi nghiệm kỳ nghỉ tuyệt vời</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Căn cứ trên nhu cầu của khách hàng và khả năng cung ứng dịch vụ, tư vấn đúng nhu cầu của khách hàng, cung cấp/bán dịch vụ cho khách hàng theo quy định của Công ty</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Chăm sóc hậu mãi cho khách hàng</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Hoàn thành chỉ tiêu doanh thu và khách hàng do công ty giao.</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Hỗ trợ đồng nghiệp trong công việc.&nbsp;</p>
    <p>2. Yêu cầu:</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Làm việc theo ca</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Làm việc ngày Lễ, Tết</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Sẵn sàng làm thêm giờ</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Có kinh nghiệm làm việc tối thiểu 1 năm (ưu tiên ngành dịch vụ)</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Có hoài bão, nhiệt huyết, tự tin và khát khao làm giàu</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Kiên trì, nỗ lực, không bỏ cuộc trong mọi tình huống&nbsp;</p>
    <p>*&nbsp; Kỹ năng :</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Thuyết phục khách hàng</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Chăm sóc khách hàng</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Bán hàng</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Xử lý than phiền</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Làm việc độc lập và làm việc nhóm&nbsp;</p>
    <p>*&nbsp; Ngôn ngữ:</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Tiếng Việt: phát âm chuẩn tiếng Việt</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Có thể giao tiếp bằng tiếng Anh là một lợi thế</p>
    <p>*&nbsp; Nơi làm việc: Văn phòng iVIVU.com &nbsp;- tại 03 thành phố</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Tp.HCM: Tầng 7, 215 Nam Kỳ Khởi Nghĩa, Phường 7, Quận 3, TP.HCM</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Cần Thơ: 166B Trần Hưng Đạo,&nbsp;Quận Ninh Kiều,&nbsp;Tp.Cần thơ</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Hà Nội: Tầng 12, Tòa nhà Việt bank, 70-72 Bà Triệu, Hoàn Kiếm, Hà Nội</p>
    <p>3. Chính sách phúc lợi:</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Mức lương cạnh tranh</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Thưởng theo kết quả doanh thu hàng tháng</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Tham gia BHXH, BHYT, BHTN theo quy định luật lao động</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Tham gia bảo hiểm sức khỏe 24/24 theo quy định công ty.</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Tham gia các sự kiện cá nhân và tập thể</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 16 ngày phép/ năm</p>
    <p><strong>5. NHÂN VIÊN TƯ VẤN TOUR</strong></p>
    <p>1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Mục đích công việc:</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Tư vấn cho khách hàng về những chương trình, dịch vụ của Công ty</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Kiểm tra chỗ, chương trình tour với đối tác</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Gửi thông tin booking tour cho đối tác.</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Tư vấn, làm booking, thu tiền khách (tại văn phòng)</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Làm đề xuất thanh toán cho đối tác đúng hạn &amp; số tiền theo hợp đồng.</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Tiếp nhận &amp; giải quyết các khiếu nại của khách.</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Gọi điện lại cho khách lấy ý kiến phản hồi sau khi khách đi về.</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Chăm sóc hỗ trợ khách hàng khi có nhu cầu đặt dịch vụ</p>
    <p>&nbsp;2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Yêu cầu</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Có kinh nghiệm ít nhất 1 năm trong ngành du lịch, sales tour</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Sẵn sàng làm thêm giờ, làm việc ngày Lễ Tết</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Chủ động, Trung thực, trách nhiệm, nhiệt tình, có khả năng làm việc độc lập</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Kỹ năng giao tiếp/thương lượng tốt</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Thành thạo kỹ năng vi tính văn phòng (Word, Excel, Internet, …)&nbsp;</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Tiếng Anh giao tiếp&nbsp; &nbsp;</p>
    <p>*&nbsp; Nơi làm việc:</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Trụ sở chính iVIVU.com tại Hồ Chí Minh: Lầu 7, 215 Nam Kỳ Khởi Nghĩa, P.7, Q.3, HCM</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Văn phòng IVIVU Hà Nội: Tầng 12, Tòa nhà Việt bank, 70-72 Bà Triệu, Hoàn Kiếm, Hà Nội</p>
    <p>3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Chính sách phúc lợi:</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Lương cạnh tranh</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Tham gia BHXH, BHYT, BHTN theo quy định luật lao động</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Bảo hiểm sức khỏe 24/24 theo quy định công ty.</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Tham gia các sự kiện cá nhân và tập thể</p>
    <p>·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 16 ngày phép/ năm</p>
    <p>&nbsp;</p>
    <p><strong>Liên Hệ :</strong>&nbsp;<br>Trực tiếp: Công ty TNHH&nbsp;<a href="https://www.ivivu.com" target="_blank">IVIVU.COM</a><br>Lầu 7, 215 Nam Kỳ Khởi Nghĩa, Phường 7, Quận 3, TP.HCM<br>Số điện thoại: (08) 3930 8290 – Bộ phận Nhân Sự<br>Email:&nbsp;<a href="https://mail.google.com" target="_blank">tuyendung@ivivu.info</a><br>Thời gian nhận hồ sơ : hết ngày 31/03/2018</p>
    <p>&nbsp;</p>
</div>

